//Check if value is in a array
// TODO place in some partial file
@function in-array( $value, $array ) {
	@if(type_of($array) == list and index($array, $value)) {
		@return true;
	}

	@if(type_of($array) == map and map_has_key($array, $value))
	{
		@return true;
	}

	@return false;
}

$color-settings: (color, variables, "red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal", "green", "light-green", "lime", "yellow", "amber", "orange", "deep-orange", "brown", "grey", "blue-grey", "shades") !default;

$component-settings: (app-bar, badge, banner, bottom-nav, bottom-sheet, button, card, chip, data-table, dialog, divider, drawer, fab, list, menu, notification, progress, selection, slider, snackbar, tab, text-field, tooltip) !default;
$app-bar-settings: (title, actions, fixed) !default;
$banner-settings: (single, multi, image) !default;
$bottom-sheet-settings: (list, grid) !default;
$button-settings: (contained, text, outlined, toggle, fluid) !default;
$card-settings: (default, simple, overline, album, media) !default;
$chip-settings: (outlined, thumbnail, remove) !default;
$data-table-settings: (numeric, hover) !default;
$dialog-settings: (simple, alert, confirm, full-screen, scroll) !default;
$divider-settings: (vertical) !default;
$drawer-settings: (header, modal, full-height, fixed, clipped) !default;
$fab-settings: (mini, extended) !default;
$list-settings: (single, two, three) !default;
$notification-settings: (standard, big-text, big-picture, progress, messaging) !default;
$progress-settings: (determintate, indeterminate, circle) !default;
$selection-settings: (checkbox, switch, radio) !default;
$snackbar-settings: (two) !default;
$tab-settings: (text, icon, icon-text, scroll) !default;
$text-field-settings: (filled, outlined, helper, select) !default;

$foundation-settings: (icons, shadows, shapes, typography) !default;
$normalize-settings: (scrollbar) !default;
$icon-settings: (18, 24, 36, 48) !default;
$typography-settings: (h1, h2, h3, h4, h5, h6, subtitle-1, subtitle-2, body-1, body-2, button, caption, overline, left, right, center) !default;
$shadow-settings: (1, 2, 3, 4, 6, 8, 9, 12, 16, 24) !default;
$shape-settings: (square, circle, diamond, triangle, hexagon, heptagon, octagon, bevel) !default;

$grid-settings: (fluid, masonry) !default;

$helper-settings: (cursor, padding, margin, aspect-ratio, flex) !default;
$cursor-settings: (alias, all-scroll, auto, cell, context-menu, col-resize, copy, crosshair, default, e-resize, ew-resize, grab, grabbing, help, move, n-resize, ne-resize, nesw-resize, ns-resize, nw-resize, nwse-resize, no-drop, none, not-allowed, pointer, progress, row-resize, s-resize, se-resize, sw-resize, text, wait, zoom-in, zoom-out) !default;

@import 'colors/index';

@import 'helpers/index';

@import 'foundation/settings';

@import 'helpers/mp';

@import 'grid/index';

@import 'foundation/normalize';
@import 'foundation/typography';
@import 'foundation/shapes';
@import 'foundation/shadows';
@import 'foundation/variables';
@import 'foundation/ripple';
@import 'foundation/iconography';

@import 'components/index';