@if(in-array(aspect-ratio, $helper-settings)) {
	$aspect-ratios: ( '16:9', '3:2', '4:3', '1:1', '3:4', '2:3') ;

	.aspect-ratio {
		width: 100%;
		position: relative;

		> {
			position: absolute;
		}

		@each $aspect-ratio in $aspect-ratios {
			$explode: explode($aspect-ratio, ':');
			$width: number( nth($explode, 1) );
			$height: number( nth($explode, 2) );
			$percentage: ($height / $width) * 100 + 0%;

			&--#{$width}-#{$height} {
				padding-top: #{$percentage};
			}
		}
	}
}