$properties: (margin, padding);
$directions: (top, left, bottom, right);
$sizes: (4, 8, 12, 16, 20, 24);

@each $size in $sizes {
	@each $property in $properties {
		.#{$property}--#{$size} {
			#{$property}: rem-calc($size);
		}
	}

	@each $direction in $directions {
		@each $property in $properties {
			.#{$property}--#{$direction}-#{$size} {
				#{$property}-#{$direction}: rem-calc($size);
			}
		}
	}
}