.button {
	@extend %button;
	height: rem-calc(36px);
	min-width: rem-calc(64px);
	max-width: 100%;
	cursor: pointer;
	border: none;
	border-radius: var(--border-radius);
	position: relative;
	overflow: hidden;
	transition: background .1s $easing-standard;
	user-select: none;

	&__contained {
		padding: 0 rem-calc(16px);
		background: var(--primary-color);
		color: var(--font-on-primary);
		@extend .z2;

		&:hover {
			background: rgba($primary-color, .92);
			@extend .z8;
		}

		&:active {
			background: rgba($primary-color, .32);
		}

		&:disabled {
			color: rgba($black, .38);
			background: rgba($black, .12);
			box-shadow: unset;

			&:hover {
				box-shadow: unset;
			}
		}

		&--icon-left {
			padding: 0 rem-calc(16px) 0 rem-calc(12px);

			.icon {
				margin-right: rem-calc(8px);
			}
		}

		&--icon-right {
			padding: 0 rem-calc(12px) 0 rem-calc(16px);

			.icon {
				margin-left: rem-calc(8px);
			}
		}
	}

	.icon {
		@include chain(width, height, font-size, rem-calc(18px));
		vertical-align: middle;
	}

	&__outlined {
		border: rem-calc(1px) solid rgba($black, .12);
		padding: 0 rem-calc(16px);
		color: var(--primary-color);
		background: transparent;

		&--icon-left {
			padding: 0 rem-calc(16px) 0 rem-calc(12px);

			.icon {
				margin-right: rem-calc(8px);
			}
		}

		&--icon-right {
			padding: 0 rem-calc(12px) 0 rem-calc(16px);

			.icon {
				margin-left: rem-calc(8px);
			}
		}
	}

	&__text {
		color: var(--primary-color);
		background: transparent;
		padding: 0 rem-calc(8px);

		&--icon-left {
			padding: 0 rem-calc(8px) 0 rem-calc(4px);

			.icon {
				margin-right: rem-calc(4px);
			}
		}

		&--icon-right {
			padding: 0 rem-calc(4px) 0 rem-calc(8px);

			.icon {
				margin-left: rem-calc(4px);
			}
		}
	}

	&__text, &__outlined {
		&:hover {
			background: rgba($primary-color, .04)
		}

		&:active {
			background: rgba($primary-color, .16)
		}

		&:disabled {
			color: rgba($black, .38);
		}
	}

	&--fluid {
		width: 100%;
	}
}