.drawer {
    $el: &;
    width: rem-calc(256px);
    position: fixed;
    margin-left: -102%;
    margin-right: rem-calc(56px); // Make sure there is some room left on the right side of the screen
    background: var(--background-color);
    @extend .z16;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    overflow: auto;
    transition: margin-left .3s $easing-accelerate;

    &--active {
        margin-left: 0;
        transition: margin-left .3s $easing-decelerate;
    }

    &__item {
        min-height: rem-calc(48px);
        width: calc(100% - (#{rem-calc(8px)} * 2));
        display: grid;
        grid-template-columns: auto 1fr;
        margin: 0 rem-calc(8px);
        border-radius: var(--border-radius);
        transition: background .1s $easing-standard, color .1s $easing-standard;

        &__icon {
            grid-column-start: 1;
            margin: 0 rem-calc(24px) 0 rem-calc(8px);
        }

        &__content {
            grid-column-start: 2;
            @include chain(height, line-height, rem-calc(48px));
            @extend %body-1;
            color: #{$black}de;
            margin: 0 rem-calc(8px) 0 rem-calc(8px);
            font-weight: 500;
        }

        &:hover {
            background: rgba($black, .04);
            color: initial;
        }

        // &:focus {
        //     background: rgba($black, .12);
        // }

        &:active {
            background: rgba($black, .16);
        }

        &--active {
            background: rgba($primary-color, .12);
            color: var(--primary-color);

            #{$el}__item__icon, #{$el}__item__content {
                color: var(--primary-color);
            }

            &:hover {
                background: rgba($primary-color, .04);
            }

            &:active {
                background: rgba($primary-color, .16);
            }
        }

        &__children {
            #{$el}__item__content {
                font-weight: 400;
            }

            &--active {
                height: var(--drawer__item__children-height);
            }
        }
    }

    &__scrim {
        background: rgba($black, .32);
    }

    ul {
        list-style-type: none;
        padding: rem-calc(8px) 0;
        margin: 0;
        width: 100%;

        ul {
            margin-left: rem-calc(8px);
            padding: 0;
        }
    }
}

:root {
	--drawer__item__children-height: auto;
}