.snackbar {
    $el: &;
    background: rgba($black, .87);
    border-radius: var(--border-radius);
    width: rem-calc(344px);
    min-height: rem-calc(48px);
    @extend .z6;

    &--single-line, &--two-line {
        display: grid;
        grid-template-columns: 1fr auto;

        #{$el}__content {
            grid-column-start: 1;
        }

        #{$el}__actions {
            grid-column-start: 2;
        }
    }

    &--two-line {
        min-height: rem-calc(64px);

        #{$el}__actions {
            padding: rem-calc(16px) rem-calc(8px);
        }

        &--long-action {
            grid-template-rows: auto auto;
            grid-template-columns: unset;

            #{$el}__content {
                grid-row-start: 1;
                padding: rem-calc(16px) rem-calc(16px) 0 rem-calc(16px);
                width: 100%;
            }

            #{$el}__actions {
                grid-row-start: 2;
                width: 100%;
                padding: rem-calc(18px) rem-calc(8px) rem-calc(8px) rem-calc(16px);
            }
        }
    }

    &__content {
        @extend %body-2;
        color: #{$white}de;
        padding: rem-calc(16px) 0 rem-calc(16px) rem-calc(16px);
    }

    &__actions {
        padding: rem-calc(6px) rem-calc(8px);
    }
}