.container {
	margin-top: var(--app-bar-height);
	width: 100%;
	padding: var(--margin) 0;

	@media #{$sm-and-up} {
		width: 80%;
		margin: var(--app-bar-height) auto 0 auto;
	}

	&--fluid {
		width: 100%;
	}
}

.row {
	display: grid;
	grid-template-columns: repeat($xs-columns, 1fr);
	grid-gap: var(--gutter);
	padding: 0 var(--margin);

	@media #{$sm-and-up} {
		grid-template-columns: repeat($sm-columns, 1fr);
	}

	@media #{$md-and-up} {
		grid-template-columns: repeat($md-columns, 1fr);
	}

	@media #{$lg-and-up} {
		grid-template-columns: repeat($lg-columns, 1fr);
	}

	@media #{$xl-and-up} {
		grid-template-columns: repeat($xl-columns, 1fr);
	}

	&--masonry {
		grid-auto-flow: dense;
	}
}

@for $i from 1 through $xs-columns {
	.xs#{$i} {
		grid-column: auto / span $i;
	}

	.start-xs#{$i} {
		grid-column-start: $i;
		order: $i;
	}
}

@media #{$sm-and-up} {
	@for $i from 1 through $sm-columns {
		.sm#{$i} {
			grid-column: auto / span $i;
		}

		.start-sm#{$i} {
			grid-column-start: $i;
		}
	}
}

@media #{$md-and-up} {
	@for $i from 1 through $md-columns {
		.md#{$i} {
			grid-column: auto / span $i;
		}

		.start-md#{$i} {
			grid-column-start: $i;
		}
	}
}

@media #{$lg-and-up} {
	@for $i from 1 through $lg-columns {
		.lg#{$i} {
			grid-column: auto / span $i;
		}

		.start-lg#{$i} {
			grid-column-start: $i;
		}
	}
}

@media #{$xl-and-up} {
	@for $i from 1 through $xl-columns {
		.xl#{$i} {
			grid-column: auto / span $i;
		}

		.start-xl#{$i} {
			grid-column-start: $i;
		}
	}
}