.container {
	--container--large-width: 80%;

	$el: &;
	margin-top: var(--app-bar-height);
	width: 100%;
	padding: var(--margin) 0;

	@media #{$sm-up} {
		width: var(--container--large-width);
		margin: var(--app-bar-height) calc((100% - var(--container--large-width)) / 2) 0 calc((100% - var(--container--large-width)) / 2);
	}

	&--fluid {
		width: 100%;
	}

	&-drawer--fixed {
		@media #{$sm-up} {
			margin: var(--app-bar-height) calc((100% - var(--container--large-width)) / 2) 0 calc(calc((100% - var(--container--large-width)) / 2) + var(--drawer-width));
			width: calc(var(--container--large-width) - var(--drawer-width));
		}
	}

	&--fluid#{$el}-drawer--fixed {
		@media #{$sm-up} {
			width: calc(100% - var(--drawer-width));
			margin: var(--app-bar-height) 0 0 var(--drawer-width);
		}
	}
}

.row {
	display: grid;
	grid-template-columns: repeat($xs-columns, 1fr);
	grid-gap: var(--gutter);
	padding: 0 var(--margin);

	@media #{$sm-and-up} {
		grid-template-columns: repeat($sm-columns, 1fr);
	}

	@media #{$md-and-up} {
		grid-template-columns: repeat($md-columns, 1fr);
	}

	@media #{$lg-and-up} {
		grid-template-columns: repeat($lg-columns, 1fr);
	}

	@media #{$xl-and-up} {
		grid-template-columns: repeat($xl-columns, 1fr);
	}

	&--masonry {
		grid-auto-flow: dense;
	}
}

@for $i from 1 through $xs-columns {
	.xs#{$i} {
		grid-column: span $i;
	}

	.start-xs#{$i} {
		order: $i;
	}
}

@media #{$sm-and-up} {
	@for $i from 1 through $sm-columns {
		.sm#{$i} {
			grid-column: span $i;
		}

		.start-sm#{$i} {
			order: $i;
		}
	}
}

@media #{$md-and-up} {
	@for $i from 1 through $md-columns {
		.md#{$i} {
			grid-column: span $i;
		}

		.start-md#{$i} {
			order: $i;
		}
	}
}

@media #{$lg-and-up} {
	@for $i from 1 through $lg-columns {
		.lg#{$i} {
			grid-column: span $i;
		}

		.start-lg#{$i} {
			order: $i;
		}
	}
}

@media #{$xl-and-up} {
	@for $i from 1 through $xl-columns {
		.xl#{$i} {
			grid-column: span $i;
		}

		.start-xl#{$i} {
			order: $i;
		}
	}
}