$xs-only: "only screen and (max-width: #{$xs-max-width})";
$sm-only: "only screen and (min-width: #{$sm-min-width}) and (max-width: #{$sm-max-width})";
$md-only: "only screen and (min-width: #{$md-min-width}) and (max-width: #{$md-max-width})";
$lg-only: "only screen and (min-width: #{$lg-min-width}) and (max-width: #{$lg-max-width})";
$xl-only: "only screen and (min-width: #{$xl-min-width})";

$xs-up: "only screen and (min-width: #{$xs-max-width})";
$sm-up: "only screen and (min-width: #{$sm-max-width})";
$md-up: "only screen and (min-width: #{$md-max-width})";
$lg-up: "only screen and (min-width: #{$lg-max-width})";
// no xl as there is no max width

// no xs as there is no min width
$sm-and-up: "only screen and (min-width: #{$sm-min-width})";
$md-and-up: "only screen and (min-width: #{$md-min-width})";
$lg-and-up: "only screen and (min-width: #{$lg-min-width})";
$lg-and-up: "only screen and (min-width: #{$lg-min-width})";
$xl-and-up: "only screen and (min-width: #{$xl-min-width})";

// No xs as there is no min width
$sm-down: "only screen and (max-width: #{$sm-min-width})";
$md-down: "only screen and (max-width: #{$md-min-width})";
$lg-down: "only screen and (max-width: #{$lg-min-width})";
$xl-down: "only screen and (max-width: #{$xl-min-width})";

$xs-and-down: "only screen and (max-width: #{$xs-max-width})";
$sm-and-down: "only screen and (max-width: #{$sm-max-width})";
$md-and-down: "only screen and (max-width: #{$md-max-width})";
$lg-and-down: "only screen and (max-width: #{$lg-max-width})";
// no xl as there is no max width

$print: "print";
$dark: "(prefers-color-scheme: dark)";
$light: "(prefers-color-scheme: light)";