@use '../helpers/functions';
@use '../index';

$properties: (left, right, none, inline-start, inline-end, inherit, initial, unset);

// Make class
@if(functions.in-array(float, index.$property-settings)) {
	@each $property in $properties {
		@if(functions.in-array($property, index.$float-settings)) {
			.float--#{$property} {
				float: $property !important;
			}
		}
	}
}

// Make extend
@each $property in $properties {
	%float--#{$property} {
		float: $property;
	}
}
