$properties: (left, right, none, inline-start, inline-end, inherit, initial, unset);

// Make class
@if(in-array(float, $property-settings)) {
	@each $property in $properties {
		@if(in-array($property, $float-settings)) {
			.float--#{$property} {
				float: $property !important;
			}
		}
	}
}

// Make extend
@each $property in $properties {
	%float--#{$property} {
		float: $property;
	}
}
