@use '../helpers/functions';
@use '../foundation/settings';

$float-properties: (left, right, none, inline-start, inline-end, inherit, initial, unset);

// Make class
@if(functions.in-array(float, settings.$property-settings)) {
	@each $property in $float-properties {
		@if(functions.in-array($property, settings.$float-settings)) {
			.float--#{$property} {
				float: $property !important;
			}
		}
	}
}

// Make extend
@each $property in $float-properties {
	%float--#{$property} {
		float: $property;
	}
}
