@use '../helpers/functions';
@use '../foundation/settings';

$properties: (static, relative, absolute, sticky, fixed);

// Make class
@if(functions.in-array(position, settings.$property-settings)) {
	@each $property in $properties {
		@if(functions.in-array($property, settings.$position-settings)) {
			.position--#{$property} {
				position: $property !important;
			}
		}
	}
}

// Make extend
@each $property in $properties {
	%position--#{$property} {
		position: $property;
	}
}
