@use './../index';
@use './../helpers/functions';

$properties: (static, relative, absolute, sticky, fixed);

// Make class
@if(functions.in-array(position, index.$property-settings)) {
	@each $property in $properties {
		@if(functions.in-array($property, index.$position-settings)) {
			.position--#{$property} {
				position: $property !important;
			}
		}
	}
}

// Make extend
@each $property in $properties {
	%position--#{$property} {
		position: $property;
	}
}
