@use '../helpers/functions';
@use '../foundation/settings';

$white-space-properties: (normal, nowrap, pre, pre-line, pre-wrap, initial, inherit);

// Make class
@if(functions.in-array(white-space, settings.$property-settings)) {
	@each $property in $white-space-properties {
		@if(functions.in-array($property, settings.$position-settings)) {
			.white-space--#{$property} {
				white-space: $property !important;
			}
		}
	}
}

// Make extend
@each $property in $white-space-properties {
	%white-space--#{$property} {
		white-space: $property;
	}
}
