@use './../index';

$properties: (normal, nowrap, pre, pre-line, pre-wrap, initial, inherit);

// Make class
@if(index.in-array(white-space, index.$property-settings)) {
	@each $property in $properties {
		@if(index.in-array($property, index.$position-settings)) {
			.white-space--#{$property} {
				white-space: $property !important;
			}
		}
	}
}

// Make extend
@each $property in $properties {
	%white-space--#{$property} {
		white-space: $property;
	}
}
