.app-bar {
	background: var(--app-bar-background);
	color: var(--app-bar-font-color);
	min-height: var(--app-bar-height); // Min height to allow more content in the app bar
	padding: var(--app-bar-padding);
	width: 100%;
	@extend %z4;
	display: grid;
	grid-template-columns: 24px 1fr auto 1fr;

	&__title {
		grid-column-start: 2;
		@extend %h6;
		margin: var(--app-bar__title-margin);
		line-height: initial;
	}

	&__actions {
		grid-column-start: 4;
		justify-content: flex-end;
		display: flex;

		> * {
			margin: var(--app-bar__actions-margin);
		}
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
	}

	.icon {
		@extend %cursor--pointer;
		color: var(--app-bar-font-color);
	}
}

:root {
	--app-bar-background: #{$app-bar-background};
	--app-bar-font-color: #{$app-bar-font-color};
	--app-bar-height: #{$app-bar-height};
	--app-bar-padding: #{$app-bar-padding};
	--app-bar__title-margin: #{$app-bar__title-margin};
	--app-bar__actions-margin: #{$app-bar__actions-margin};
}