@use './../index';
@use './../colors/colors';
@use './../helpers/functions';
@use './../properties/position';
@use './../helpers/mixins';

@if(index.in-array(badge, index.$component-settings)) {
	.badge {
		--badge-font-size: #{functions.rem-calc(10px)};
		--badge-color: #{colors.$white};
		--badge-background: #{colors.$red};
		--badge__content-size: #{functions.rem-calc(20px)};
		--badge-vertical-center: calc(var(--badge-height) / 2);
		--badge-horizontal-center: calc(var(--badge-width) / 2);
		--badge__content-center: calc(var(--badge__content-size) / 2);

		@extend %position--relative;

		&__content {
			@extend %position--absolute;
			color: var(--badge-color);
			font-size: var(--badge-font-size);
			background: var(--badge-background);
			@include mixins.chain(width, height, line-height, var(--badge__content-size));
			text-align: center;
			@extend %z2;
		}

		&--top-left, &--top-center, &--top-right {
			top: calc(var(--badge__content-center) * -1);
		}

		&--bottom-left, &--bottom-center, &--bottom-right {
			bottom: calc(var(--badge__content-center) * -1);
		}

		&--top-left, &--bottom-left, &--left-center {
			left: calc(var(--badge__content-center) * -1);
		}

		&--top-right, &--bottom-right, &--right-center {
			right: calc(var(--badge__content-center) * -1);
		}

		&--left-center, &--right-center {
			top: 0;
		}
	}
}
