.banner {
	$el: &;
	width: 100%;
	background: var(--background-color);
	@extend %body-2;
	border-bottom: rem-calc(1px) solid rgba($font-on-surface , .12);
	color: #{$black}de;

	&--single-line {
		height: var(--banner--single-line-height);
		display: grid;
		grid-template-columns: 1fr auto;
		padding: var(--banner--single-line-padding);
		line-height: var(--banner--single-line-height);

		#{$el}__content {
			grid-column-start: 1;
		}

		#{$el}__actions {
			grid-column-start: 2;
			margin: var(--banner--single-line__actions-margin); 
		}
	}

	&--multi-line {
		height: var(--banner--multi-line-height);

		@media #{$md-up} {
			display: grid;
			grid-template-columns: 1fr auto;
		}

		#{$el}__content {
			width: 100%;
			padding: rem-calc(24px) rem-calc(16px) rem-calc(12px) rem-calc(16px);

			@media #{$md-up} {
				grid-column-start: 1;
			}
		}

		#{$el}__actions {
			width: 100%;
			padding: 0 rem-calc(8px) rem-calc(8px) rem-calc(16px);
			text-align: right;

			@media #{$md-up} {
				grid-column-start: 2;
				align-self: end;
			}
		}
	}

	&--image-multi-line {
		height: rem-calc(120px);
		display: grid;
		grid-template-columns: calc( #{rem-calc(40px)} + #{rem-calc(16px)}) 1fr;

		#{$el}__image {
			grid-column-start: 1;
			grid-row: 1 / 2;
			padding: rem-calc(24px) 0 0 rem-calc(16px);

			img {
				@include chain(width, height, rem-calc(40px));
				border-radius: 50%;
			}
		}

		#{$el}__content {
			grid-column-start: 2;
			grid-row-start: 1;
			padding: rem-calc(24px) rem-calc(16px) 0 rem-calc(16px); 
			margin: 0 0 rem-calc(20px) 0;
		}

		#{$el}__actions {
			@include chain(grid-column-start, grid-row-start, 2);
			text-align: right;
		}
	}

	&__actions > * {
		margin: var(--banner__actions-margin);
	}
}

:root {
	--banner--single-line-height: #{rem-calc(54px)};
	--banner--single-line-padding: #{rem-calc(10px) rem-calc(8px) rem-calc(8px) rem-calc(16px)};
	--banner--single-line__actions-margin: #{0 0 rem-calc(8px) rem-calc(36px)};
	--banner--multi-line-height: #{rem-calc(122px)};
	--banner__actions-margin: #{0 0 rem-calc(8px) rem-calc(8px)};
	
	@media #{$md-up} {
		--banner--single-line-height: #{rem-calc(52px)};
		--banner--single-line-padding: #{rem-calc(8px) rem-calc(8px) rem-calc(8px) rem-calc(24px)};
		--banner--single-line__actions-margin: 0 0 0 #{rem-calc(90px)};
		--banner--multi-line-hieght: #{rem-calc(90px)};
	}
}