@use '../helpers/functions';
@use '../helpers/mixins';
@use '../grid/media-queries';
@use '../foundation/settings';

@if(functions.in-array(banner, settings.$component-settings)) {
	.banner {
		--banner-background: #{settings.$banner-background};
		--banner-color: #{settings.$banner-color};

		--banner__actions-margin: #{settings.$banner__actions-margin};

		@if (functions.in-array(single, settings.$banner-settings)) {
			--banner--single-line-height: #{settings.$banner--single-line-height};
			--banner--single-line__content-padding: #{settings.$banner--single-line__content-padding};
			--banner--single-line__actions-padding: #{settings.$banner--single-line__actions-padding};
		}

		@if (functions.in-array(mutli, settings.$banner-settings)) {
			--banner--multi-line-height: #{settings.$banner--multi-line-height};
			--banner--multi-line__content-padding: #{settings.$banner--multi-line__content-padding};
			--banner--multi-line__actions-padding: #{settings.$banner--multi-line__actions-padding};
		}

		@if (functions.in-array(image, settings.$banner-settings)) {
			--banner--image-multi-line-height: #{settings.$banner--image-multi-line-height};
			--banner--image-multi-line__img-size: #{settings.$banner--image-multi-line__img-size};
			--banner--image-multi-line__image-padding: #{settings.$banner--image-multi-line__image-padding};
			--banner--image-multi-line__content-padding: #{settings.$banner--image-multi-line__content-padding};
			--banner--image-multi-line__content-margin: #{settings.$banner--image-multi-line__content-margin};
		}

		@media #{media-queries.$md-up} {
			--banner--single-line-height: #{settings.$banner-md-up--single-line-height};
			--banner--single-line__content-padding: #{settings.$banner-md-up--single-line__content-padding};
			--banner--single-line__actions-padding: #{settings.$banner-md-up--single-line__actions-padding};

			--banner--multi-line-height: #{settings.$banner-md-up--multi-line-height};
		}

		$el: &;
		width: 100%;
		background: var(--banner-background);
		@extend %body-2, %divider-bottom-border;
		color: var(--banner-color);

		@if (functions.in-array(single, settings.$banner-settings)) {
			&--single-line {
				@extend %display--grid;
				grid-template-columns: 1fr auto;

				#{$el}__content {
					height: var(--banner--single-line-height);
					grid-column-start: 1;
					line-height: var(--banner--single-line-height);
					padding: var(--banner--single-line__content-padding);
				}

				#{$el}__actions {
					grid-column-start: 2;
					height: var(--banner--single-line-height);
					padding: var(--banner--single-line__actions-padding);
				}
			}
		}

		@if (functions.in-array(multi, settings.$banner-settings)) {
			&--multi-line {
				height: var(--banner--multi-line-height);

				@media #{media-queries.$md-up} {
					display: grid;
					grid-template-columns: 1fr auto;
				}

				#{$el}__content {
					width: 100%;
					padding: var(--banner--multi-line__actions-padding);

					@media #{media-queries.$md-up} {
						grid-column-start: 1;
					}
				}

				#{$el}__actions {
					width: 100%;
					padding: var(--banner--multi-line__actions-padding);
					text-align: right;

					@media #{media-queries.$md-up} {
						grid-column-start: 2;
						align-self: flex-end;
					}
				}
			}
		}

		@if (functions.in-array(image, settings.$banner-settings)) {
			&--image-multi-line {
				height: var(--banner--image-multi-line-height);
				@extend %display--grid;
				grid-template-columns: calc(var(--banner--image-multi-line__img-size) + #{functions.rem-calc(16px)}) 1fr;

				#{$el}__image {
					grid-column-start: 1;
					grid-row: 1 / 2;
					padding: var(--banner--image-multi-line__image-padding);

					img {
						@include mixins.chain(width, height, var(--banner--image-multi-line__img-size));
						border-radius: 50%;
					}
				}

				#{$el}__content {
					grid-column-start: 2;
					grid-row-start: 1;
					padding: var(--banner--image-multi-line__content-padding);
				}

				#{$el}__actions {
					@include mixins.chain(grid-column-start, grid-row-start, 2);
					text-align: right;
					padding: functions.rem-calc(20px) functions.rem-calc(8px) functions.rem-calc(8px) 0;
					margin-top: functions.rem-calc(-10px);
				}
			}
		}

		&__actions > * {
			margin: var(--banner__actions-margin);
		}
	}

	@include mixins.dark-theme(banner) {
		--banner-background: #{settings.$banner--dark-background};
		--banner-color: #{settings.$banner--dark-color};

		--divider-background: #{settings.$divider--dark-background};
	}

	@include mixins.light-theme(banner) {
		--banner-background: #{settings.$banner--light-background};
		--banner-color: #{settings.$banner--light-color};

		--divider-background: #{settings.$divider--light-background};
	}
}
