@if(in-array(bottom-sheet, $component-settings)) {
	.bottom-sheet {
		--bottom-sheet-width: #{$bottom-sheet-width};
		--bottom-sheet-min-height: #{$bottom-sheet-min-height};
		--bottom-sheet-max-height: #{$bottom-sheet-max-height};

		--bottom-sheet__item--hover-background: #{$bottom-sheet__item--hover-background};
		--bottom-sheet__item--active-background: #{$bottom-sheet__item--active-background};

		--bottom-sheet__header-color: #{$bottom-sheet__header-color};
		--bottom-sheet__header-size: #{$bottom-sheet__header-size};
		--bottom-sheet__header-padding: #{$bottom-sheet__header-padding};

		--bottom-sheet__content-color: #{$bottom-sheet__content-color};

		@if(in-array(list, $bottom-sheet-settings)) {
			--bottom-sheet--list__item-height: #{$bottom-sheet--list__item-height};
			--bottom-sheet--list__icon-margin: #{$bottom-sheet--list__icon-margin};
			--bottom-sheet--list__content-size: #{$bottom-sheet--list__content-size};
			--bottom-sheet--list__content-margin: #{$bottom-sheet--list__content-margin};
		}

		@if(in-array(grid, $bottom-sheet-settings)) {
			--bottom-sheet--grid-padding: #{$bottom-sheet--grid-padding};
			--bottom-sheet--grid__icon-size: #{$bottom-sheet--grid__icon-size};
			--bottom-sheet--grid__content-padding: #{$bottom-sheet--grid__content-padding};
		}

		@media #{$md-and-up} {
			--bottom-sheet-width: 75%;
			left: 50%;
			transform: translateX(-50%);
		}

		$el: &;
		width: var(--bottom-sheet-width);
		height: auto;
		min-height: var(--bottom-sheet-min-height);
		max-height: var(--bottom-sheet-max-height);
		list-style-type: none;
		position: fixed;
		display: inline-block;
		z-index: 2;
		@include chain(left, bottom, 0);
		margin: 0 0 -102% 0;
		padding: 0;
		@extend %z8;
		background: var(--background-color);
		pointer-events: none;
		transition: margin .1s $easing-standard;
		@include border-top-radius(var(--border-radius));

		&--active {
			transition: margin .1s $easing-standard;
			margin: 0;
			pointer-events: all;
		}

		@if(in-array(list, $bottom-sheet-settings)) {
			&--list {
				#{$el}__item {
					height: var(--bottom-sheet--list__item-height);
					grid-template-columns: auto 1fr;
					display: grid;
				}

				.icon {
					margin: var(--bottom-sheet--list__icon-margin);
					grid-column-start: 1;
				}

				#{$el}__content {
					grid-column-start: 2;
					@include chain(height, line-height, var(--bottom-sheet--list__content-size));
					margin-left: var(--bottom-sheet--list__content-margin);
				}
			}
		}

		@if(in-array(grid, $bottom-sheet-settings)) {
			&--grid {
				display: grid;
				padding: var(--bottom-sheet--grid-padding);
				grid-template-columns: repeat(3, 1fr);

				.icon {
					@include chain(width, height, font-size, var(--bottom-sheet--grid__icon-size));
				}

				#{$el}__item {
					text-align: center;
					min-width: var(--bottom-sheet--grid__icon-size);
					grid-column-start: auto;
				}

				#{$el}__content {
					padding: var(--bottom-sheet--grid__content-padding);
				}
			}
		}

		&--modal {
			@extend %z16;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba($black, .32);
			}
		}

		&__item {
			display: block;
			@extend %cursor--pointer;
			background: transparent;
			transition: background .1s $easing-standard;

			&:hover {
				background: var(--bottom-sheet__item--hover-background);
			}

			&:active {
				background: var(--bottom-sheet__item--active-background);
			}
		}

		&__header {
			color: var(--bottom-sheet__header-color);
			width: 100%;
			@include chain(height, line-height, var(--bottom-sheet__header-size));
			padding: var(--bottom-sheet__header-padding);
		}

		.icon, &__content {
			color: var(--bottom-sheet__content-color);
		}

		&__content, &__header {
			@extend %body-1;
		}
	}
}