@if(in-array(button, $component-settings)) {
	.button {
		--button-height: #{$button-height};
		--button-min-width: #{$button-min-width};
		--button-border-radius: #{$button-border-radius};

		--button__icon-size: #{$button__icon-size};

		@if(in-array(contained, $button-settings)) {
			--button--contained-padding: #{$button--contained-padding};
			--button--contained--hover-background: #{$button--contained--hover-background};
			--button--contained--active-background: #{$button--contained--active-background};
			--button--contained--disabled-color: #{$button--contained--disabled-color};
			--button--contained--disabled-background: #{$button--contained--disabled-background};
			--button--contained--icon-left-padding: #{$button--contained--icon-left-padding};
			--button--contained--icon-left__icon-margin: #{$button--contained--icon-left__icon-margin};
			--button--contained--icon-right-padding: #{$button--contained--icon-right-padding};
			--button--contained--icon-right__icon-margin: #{$button--contained--icon-right__icon-margin};
		}

		@if(in-array(outlined, $button-settings)) {
			--button--outlined-border: #{$button--outlined-border};
			--button--outlined-padding: #{$button--outlined-padding};
			--button--outlined--icon-left-padding: #{$button--outlined--icon-left-padding};
			--button--outlined--icon-left__icon-margin: #{$button--outlined--icon-left__icon-margin};
			--button--outlined--icon-right-padding: #{$button--outlined--icon-right-padding};
			--button--outlined--icon-right__icon-margin: #{$button--outlined--icon-right__icon-margin};
		}

		@if(in-array(text, $button-settings)) {
			--button--text-padding: #{$button--text-padding};
			--button--text--icon-left-padding: #{$button--text--icon-left-padding};
			--button--text--icon-left__icon-margin: #{$button--text--icon-left__icon-margin};
			--button--text--icon-right-padding: #{$button--text--icon-right-padding};
			--button--text--icon-right__icon-margin: #{$button--text--icon-right__icon-margin};
		}

		@if(in-array(text, $button-settings) or in-array(outlined, $button-settings)) {
			--button--text--outlined--hover-background: #{$button--text--outlined--hover-background};
			--button--text--outlined--active-background: #{$button--text--outlined--active-background};
			--button--text--outlined-color: #{$button--text--outlined-color};
			--button--text--outline--disabled-color: #{$button--text--outline--disabled-color};
		}

		$el: &;
		@extend %button;
		height: var(--button-height);
		line-height: var(--button-height);
		min-width: var(--button-min-width);
		max-width: 100%;
		@extend %cursor--pointer;
		border: none;
		border-radius: var(--button-border-radius);
		position: relative;
		overflow: hidden;
		user-select: none;
		display: inline-block;
		vertical-align: middle;
		@include ripple();
		white-space: nowrap;

		@if(in-array(contained, $button-settings)) {
			&--contained {
				--ripple--hover-background: var(--button--contained--hover-background);
				--ripple--active-background: var(--button--contained--active-background);
				--icon-color: var(--font-on-primary);
				padding: var(--button--contained-padding);
				background: var(--primary-color);
				color: var(--font-on-primary);
				@extend %z2;

				&:hover, &--active {
					@extend %z8;
					color: var(--font-on-primary);
				}

				&:disabled, &--disabled {
					color: var(--button--contained--disabled-color);
					background: var(--button--contained--disabled-background);
					box-shadow: unset;

					&:hover {
						box-shadow: unset;
					}

					> * {
						color: var(--button--contained--disabled-color);
					}
				}

				&--icon-left {
					padding: var(--button--contained--icon-left-padding);

					.icon {
						margin: var(--button--contained--icon-left__icon-margin);
					}
				}

				&--icon-right {
					padding: var(--button--contained--icon-right-padding);

					.icon {
						margin: var(--button--contained--icon-right__icon-margin);
					}
				}
			}
		}

		@if(in-array(outlined, $button-settings)) {
			&--outlined {
				border: var(--button--outlined-border);
				padding: var(--button--outlined-padding);
				background: transparent;

				&--icon-left {
					padding: var(--button--outlined--icon-left-padding);

					.icon {
						margin: var(--button--outlined--icon-left__icon-margin);
					}
				}

				&--icon-right {
					padding: var(--button--outlined--icon-right-padding);

					.icon {
						margin: var(--button--outlined--icon-right__icon-margin);
					}
				}
			}
		}

		@if(in-array(text, $button-settings)) {
			&--text {
				padding: var(--button--text-padding);
				background: transparent;

				&--icon-left {
					padding: var(--button--text--icon-left-padding);

					.icon {
						margin: var(--button--text--icon-left__icon-margin);
					}
				}

				&--icon-right {
					padding: var(--button--text--icon-right-padding);

					.icon {
						margin: var(--button--text--icon-right__icon-margin);
					}
				}
			}
		}

		@if(in-array(toggle, $button-settings)) {
			&--toggle {
				@include chain(width, height, rem-calc(48px));
				padding: rem-calc(12px);
				float: left;
				border-right: rem-calc(1px) solid rgba($black, .12);
				border-radius: unset;
				background: unset;
				min-width: unset;
				font-size: rem-calc(20px);
				line-height: rem-calc(24px);

				.icon {
					--icon-size: #{rem-calc(24px)};
					padding: unset;
					width: var(--icon-size);
					font-size: var(--icon-size);
					color: $black;
				}

				&:disabled .icon {
					color: rgba($black, .38);
				}
			}
		}

		@if(in-array(text, $button-settings) or in-array(outlined, $button-settings)) {
			&--text, &--outlined {
				--ripple--hover-background: var(--button--text--outlined--hover-background);
				--ripple--active-background: var(--button--text--outlined--active-background);
				--icon-color: var(--button--text--outlined-color);
				color: var(--button--text--outlined-color);

				&:hover, &--active {
					color: var(--button--text--outlined-color);
				}

				&:disabled, &--disabled {
					color: var(--button--text--outline--disabled-color);
					background: unset;

					> * {
						color: var(--button--text--outline--disabled-color);
					}
				}
			}
		}

		@if(in-array(fluid, $button-settings)) {
			&--fluid {
				width: 100%;
			}
		}

		.icon {
			@include chain(width, font-size, var(--button__icon-size));
			vertical-align: top;
			padding: calc((var(--button-height) - var(--button__icon-size)) / 2) 0;
		}
	}
}