@use '../helpers/functions';
@use '../helpers/mixins';
@use '../foundation/settings';
@use '../colors/colors';
@use '../foundation/ripple';

@if (functions.in-array(button, settings.$component-settings)) {
	.button {
		--button-height: #{settings.$button-height};
		--button-min-width: #{settings.$button-min-width};
		--button-border-radius: #{settings.$button-border-radius};

		--button__icon-size: #{settings.$button__icon-size};

		@if (functions.in-array(contained, settings.$button-settings)) {
			--button--contained-padding: #{settings.$button--contained-padding};
			--button--contained--hover-background: #{settings.$button--contained--hover-background};
			--button--contained--active-background: #{settings.$button--contained--active-background};
			--button--contained--icon-left-padding: #{settings.$button--contained--icon-left-padding};
			--button--contained--icon-left__icon-margin: #{settings.$button--contained--icon-left__icon-margin};
			--button--contained--icon-right-padding: #{settings.$button--contained--icon-right-padding};
			--button--contained--icon-right__icon-margin: #{settings.$button--contained--icon-right__icon-margin};
		}

		@if (functions.in-array(outlined, settings.$button-settings)) {
			--button--outlined-border: #{settings.$button--outlined-border};
			--button--outlined-padding: #{settings.$button--outlined-padding};
			--button--outlined--icon-left-padding: #{settings.$button--outlined--icon-left-padding};
			--button--outlined--icon-left__icon-margin: #{settings.$button--outlined--icon-left__icon-margin};
			--button--outlined--icon-right-padding: #{settings.$button--outlined--icon-right-padding};
			--button--outlined--icon-right__icon-margin: #{settings.$button--outlined--icon-right__icon-margin};
		}

		@if (functions.in-array(text, settings.$button-settings)) {
			--button--text-padding: #{settings.$button--text-padding};
			--button--text--icon-left-padding: #{settings.$button--text--icon-left-padding};
			--button--text--icon-left__icon-margin: #{settings.$button--text--icon-left__icon-margin};
			--button--text--icon-right-padding: #{settings.$button--text--icon-right-padding};
			--button--text--icon-right__icon-margin: #{settings.$button--text--icon-right__icon-margin};
		}

		@if (functions.in-array(text, settings.$button-settings) or functions.in-array(outlined, settings.$button-settings)) {
			--button--text--outlined--hover-background: #{settings.$button--text--outlined--hover-background};
			--button--text--outlined--active-background: #{settings.$button--text--outlined--active-background};
			--button--text--outlined-color: #{settings.$button--text--outlined-color};
		}

		$el: &;
		@extend %button;
		height: var(--button-height);
		line-height: var(--button-height);
		min-width: var(--button-min-width);
		max-width: 100%;
		@extend %cursor--pointer;
		border: none;
		border-radius: var(--button-border-radius);
		@extend %position--relative;
		overflow: hidden;
		user-select: none;
		@extend %display--inline-block;
		vertical-align: middle;
		@include ripple.ripple();
		white-space: nowrap;

		@if (functions.in-array(contained, settings.$button-settings)) {
			&--contained {
				--ripple--hover-background: var(--button--contained--hover-background);
				--ripple--active-background: var(--button--contained--active-background);
				--icon-color: var(--font-on-primary);
				padding: var(--button--contained-padding);
				background: var(--primary-color);
				color: var(--font-on-primary);
				@extend %z2;

				&:hover, &--active {
					@extend %z8;
					color: var(--font-on-primary);
				}

				&:disabled, &:disabled:hover, &--disabled, &--disabled:hover {
					@extend %disabled-color, %disabled-background;
					box-shadow: unset;

					> * {
						color: var(--disabled-color);
					}
				}

				&--icon-left {
					padding: var(--button--contained--icon-left-padding);

					.icon {
						margin: var(--button--contained--icon-left__icon-margin);
					}
				}

				&--icon-right {
					padding: var(--button--contained--icon-right-padding);

					.icon {
						margin: var(--button--contained--icon-right__icon-margin);
					}
				}
			}
		}

		@if (functions.in-array(outlined, settings.$button-settings)) {
			&--outlined {
				border: var(--button--outlined-border);
				padding: var(--button--outlined-padding);
				background: transparent;

				&--icon-left {
					padding: var(--button--outlined--icon-left-padding);

					.icon {
						margin: var(--button--outlined--icon-left__icon-margin);
					}
				}

				&--icon-right {
					padding: var(--button--outlined--icon-right-padding);

					.icon {
						margin: var(--button--outlined--icon-right__icon-margin);
					}
				}
			}
		}

		@if (functions.in-array(text, settings.$button-settings)) {
			&--text {
				padding: var(--button--text-padding);
				background: transparent;

				&--icon-left {
					padding: var(--button--text--icon-left-padding);

					.icon {
						margin: var(--button--text--icon-left__icon-margin);
					}
				}

				&--icon-right {
					padding: var(--button--text--icon-right-padding);

					.icon {
						margin: var(--button--text--icon-right__icon-margin);
					}
				}
			}
		}

		@if (functions.in-array(toggle, settings.$button-settings)) {
			&--toggle {
				@include mixins.chain(width, height, functions.rem-calc(48px));
				padding: functions.rem-calc(12px);
				@extend %float--left;
				border-right: functions.rem-calc(1px) solid rgba(colors.$black, .12);
				border-radius: unset;
				background: unset;
				min-width: unset;
				font-size: functions.rem-calc(20px);
				line-height: functions.rem-calc(24px);

				.icon {
					--icon-size: #{functions.rem-calc(24px)};
					padding: unset;
					width: var(--icon-size);
					font-size: var(--icon-size);
					color: colors.$black;
				}

				&:disabled .icon {
					color: rgba(colors.$black, .38);
				}
			}
		}

		@if (functions.in-array(text, settings.$button-settings) or functions.in-array(outlined, settings.$button-settings)) {
			&--text, &--outlined {
				--ripple--hover-background: var(--button--text--outlined--hover-background);
				--ripple--active-background: var(--button--text--outlined--active-background);
				--icon-color: var(--button--text--outlined-color);
				color: var(--button--text--outlined-color);

				&:hover, &--active {
					color: var(--button--text--outlined-color);
				}

				&:disabled, &--disabled {
					@extend %disabled-color;
					background: unset;

					> * {
						@extend %disabled-color;
					}
				}
			}
		}

		@if (functions.in-array(fluid, settings.$button-settings)) {
			&--fluid {
				width: 100%;
			}
		}

		.icon {
			@include mixins.chain(width, font-size, var(--button__icon-size));
			vertical-align: top;
			padding: calc((var(--button-height) - var(--button__icon-size)) / 2) 0;
		}
	}

	@include mixins.dark-theme(button) {
		--button--outlined-border: #{settings.$button--dark--outlined-border};
	}

	@include mixins.light-theme(button) {
		--button--outlined-border: #{settings.$button--light--outlined-border};
	}
}
