@if(in-array(card, $component-settings)) {
	.card {
		background: var(--surface-color);
		width: 100%;
		@extend %z1;
		border-radius: var(--border-radius);
		transition: box-shadow $easing-standard .1s;
		display: block;

		&:hover {
			@extend %z8;
		}

		&__thumbnail img {
			@include responsive-ratio(1, 1);
		}

		&__header {
			@extend .h6;
			color: rgba($black, .84);
			padding: rem-calc(16px) rem-calc(16px) rem-calc(16px) rem-calc(16px);
			@include border-top-radius(var(--border-radius));
		}

		&__subheader {
			color: rgba($black, .54);
		}

		&__media {

		}

		&__text {
			color: #{$black}99;
			padding: rem-calc(16px) rem-calc(16px) rem-calc(8px) rem-calc(16px);
		}

		&__actions {
			padding: 0 rem-calc(8px) rem-calc(8px) rem-calc(8px);

			> * {
				margin-right: rem-calc(8px);
			}
		}

		&__actions, &__media, &__text, &__actions {
			width: 100%;
		}

		&--outlined {
			border: rem-calc(1px) solid rgba($black, .12);
		}

		&--top {
			@include chain(border-top-left-radius, border-top-right-radius, var(--border-radius));
		}

		&--bottom {
			@include chain(border-bottom-left-radius, border-bottom-right-radius, var(--border-radius));
		}

		&--left {
			@include chain(border-bottom-left-radius, border-top-left-radius, var(--border-radius));
		}

		&--right {
			@include chain(border-bottom-right-radius, border-top-right-radius, var(--border-radius));
		}
	}
}