@if (in-array(card, $component-settings)) {
	.card {
		--card-background: #{$card-background};
		--card-border-radius: #{$card-border-radius};
		--card__thumbnail-size: #{$card__thumbnail-size};
		--card__header-padding: #{$card__header-padding};
		--card__title-color: #{$card__title-color};
		--card__subtitle-color: #{$card__subtitle-color};
		--card__content-color: #{$card__content-color};
		--card__content-padding: #{$card__content-padding};

		$el: &;
		background: var(--card-background);
		width: 100%;
		@extend %z1;
		border-radius: var(--card-border-radius);
		transition: box-shadow $easing-standard .1s, background $easing-standard .1s;
		display: block;
		position: relative;
		overflow: hidden;

		@if ($theme == dark) {
			@extend %overlay1;
		}

		&:hover {
			@extend %z8;

			@if ($theme == dark) {
				@extend %overlay8;
			}

			// TODO fix to extend
			@if ($theme == light and in-array(dark, $media-themes)) {
				@media #{$dark} {
					@include overlay(8);
				}
			}
		}

		img#{$el}__thumbnail {
			grid-area: thumbnail;
			@extend %shape--circle;
			@include chain(width, height, var(--card__thumbnail-size));
		}

		&__header {
			grid-area: header;
			padding: var(--card__header-padding);
			@include border-top-radius(var(--border-radius));
		}

		&__title {
			grid-area: title;
			@extend %h6;
			color: var(--card__title-color);
		}

		&__subtitle {
			grid-area: subtitle;
			color: var(--card__subtitle-color);
		}

		&__media {
			grid-area: media;

			img {
				width: 100%;
				display: inherit;
			}
		}

		&__content {
			grid-area: content;
			color: var(--card__content-color);
			padding: var(--card__content-padding);

			> * {
				padding: 0;
			}
		}

		&__actions {
			grid-area: actions;
			padding: 0 rem-calc(8px) rem-calc(8px) rem-calc(8px);

			> * {
				margin-right: rem-calc(8px);
			}
		}

		&__header, &__media, &__content, &__actions, &__title, &__subtitle {
			width: 100%;
		}

		&--outlined {
			border: rem-calc(1px) solid rgba($black, .12);
		}

		&--top {
			@include chain(border-top-left-radius, border-top-right-radius, var(--border-radius));
		}

		&--bottom {
			@include chain(border-bottom-left-radius, border-bottom-right-radius, var(--border-radius));
		}

		&--left {
			@include chain(border-bottom-left-radius, border-top-left-radius, var(--border-radius));
		}

		&--right {
			@include chain(border-bottom-right-radius, border-top-right-radius, var(--border-radius));
		}

		&--no-hover:hover {
			@extend %z1;
		}

		// TODO fix naming
		@if (in-array(default, $card-settings)) {
			&--default {
				#{$el}__header {
					height: rem-calc(72px);
					display: grid;
					grid-template: "thumbnail title" "thumbnail subtitle";
					grid-template-columns: calc(var(--card__header-padding) + var(--card__thumbnail-size)) 1fr;
				}
			}
		}

		@if (in-array(simple, $card-settings)) {
			&--simple {
				display: grid;
				grid-template: "header media" "content media" "actions actions";
				grid-template-columns: 1fr (rem-calc(80px) + (2 * rem-calc(16px)));

				#{$el}__media {
					padding: rem-calc(16px);

					img {
						@include chain(width, height, rem-calc(80px));
					}
				}
			}
		}

		@if (in-array(overline, $card-settings)) {
			&--overline {
				display: grid;
				grid-template: "overline media" "header media" "content media" "actions actions";
				grid-template-columns: 1fr (rem-calc(80px) + (2 * rem-calc(16px)));

				.overline {
					grid-area: overline;
					padding: rem-calc(16px) rem-calc(16px) 0 rem-calc(16px);
				}

				#{$el}__header {
					padding: rem-calc(8px) rem-calc(16px) 0 rem-calc(16px);
				}

				#{$el}__media {
					padding: rem-calc(16px);

					img {
						@include chain(width, height, rem-calc(80px));
					}
				}
			}
		}

		@if (in-array(album, $card-settings)) {
			&--album {
				display: grid;
				grid-template: "media header" "content content";
				grid-template-columns: rem-calc(80px) 1fr;

				#{$el}__media img {
					@include chain(width, height, rem-calc(80px));
					border-top-left-radius: var(--border-radius);
				}

				#{$el}__content {
					border: rem-calc(1px) solid rgba($black, .12);
				}

				#{$el}__header {
					height: rem-calc(80px);
				}
			}
		}

		@if (in-array(media, $card-settings)) {
			&--media {
				position: relative;
				display: flex;

				img {
					display: inherit;
					width: 100%;
					border-radius: var(--border-radius);
				}

				#{$el}__container {
					position: absolute;
					background: rgba($white, .32);

					&--bottom {
						align-self: flex-end;
					}
				}
			}
		}
	}

	@include dark-theme(card) {
		--card__title-color: #{$card__dark__title-color};
		--card__subtitle-color: #{$card__dark__subtitle-color};
		--card__content-color: #{$card__dark__content-color};
		@include overlay(1);
	}

	@include light-theme(card) {
		--card__title-color: #{$card__light__title-color};
		--card__subtitle-color: #{$card__light__subtitle-color};
		--card__content-color: #{$card__light__content-color};
	}
}