@use '../helpers/functions';
@use '../helpers/mixins';
@use '../index';
@use '../foundation/settings';
@use '../colors/colors';
@use '../grid/media-queries';

@if (functions.in-array(chip, index.$component-settings)) {
	.chip {
		--chip-height: #{settings.$chip-height};
		--chip-padding: #{settings.$chip-padding};
		--chip-background: #{settings.$chip-background};
		--chip-color: #{settings.$chip-color};
		--chip--hover-background: #{settings.$chip--hover-background};
		--chip--active-background: #{settings.$chip--active-background};

		--chip__thumbnail-size: #{settings.$chip__thumbnail-size};
		--chip__thumbnail-color: #{settings.$chip__thumbnail-color};
		--chip__thumbnail-margin: #{settings.$chip__thumbnail-margin};
		--chip__thumbnail-padding-left: #{settings.$chip__thumbnail-padding-left};

		--chip__remove-size: #{settings.$chip__remove-size};
		--chip__remove-margin: #{settings.$chip__remove-margin};
		--chip__remove-color: #{settings.$chip__remove-color};
		--chip--remove-padding-right: #{settings.$chip__remove-padding-right};

		--chip--outlined-border: #{settings.$chip--outlined-border};
		--chip--outlined--hover-background: #{settings.$chip--outlined--hover-background};
		--chip--outlined--active-background: #{settings.$chip--outlined--active-background};
		--chip--outlined--thumbnail-padding-left: #{settings.$chip--outlined--thumbnail-padding-left};
		--chip--outlined--remove-padding-right: #{settings.$chip--outlined--remove-padding-right};

		$el: &;
		height: var(--chip-height);
		padding: var(--chip-padding);
		border-radius: calc(var(--chip-height) / 2);
		background: var(--chip-background);
		@extend %body-2;
		line-height: var(--chip-height);
		@extend %display--inline-flex;
		align-items: center;
		color: var(--chip-color);
		@extend %cursor--pointer;
		user-select: none;
		vertical-align: middle;
		@include mixins.ripple();
		--ripple--hover-background: #{rgba(colors.$black, .04)};
		--ripple--active-background: #{rgba(colors.$black, .16)};

		&:disabled {
			@extend %disabled-color, %disabled-background;
		}

		@if (functions.in-array(thumbnail, index.$chip-settings)) {
			&__thumbnail {
				@include mixins.chain(width, height, font-size, var(--chip__thumbnail-size));
				margin: var(--chip__thumbnail-margin);
				border-radius: 50%;
				color: var(--chip__thumbnail-color);
			}

			&--thumbnail {
				padding-left: var(--chip__thumbnail-padding-left);
			}
		}

		@if (functions.in-array(remove, index.$chip-settings)) {
			&__remove {
				@include mixins.chain(width, height, font-size, var(--chip__remove-size));
				margin: var(--chip__remove-margin);
				color: var(--chip__remove-color);
			}
		}

		&--remove {
			padding-right: var(--chip--remove-padding-right);
		}

		@if (functions.in-array(outlined, index.$chip-settings)) {
			&--outlined {
				border: var(--chip--outlined-border);
				background: transparent;

				&:hover {
					background: var(--chip--outlined--hover-background);
				}

				&:active {
					background: var(--chip--outlined--active-background);
				}

				&:disabled {
					@extend %disabled-color, %disabled-background;
				}

				@if (functions.in-array(thumbnail, index.$chip-settings)) {
					&#{$el}--thumbnail {
						padding-left: var(--chip--outlined--thumbnail-padding-left);
					}
				}

				@if (functions.in-array(remove, index.$chip-settings)) {
					&#{$el}--remove {
						padding-right: var(--chip--outlined--remove-padding-right);
					}
				}
			}
		}
	}

	@include mixins.dark-theme(chip) {
		--chip-background: #{settings.$chip--dark-background};
		--chip-color: #{settings.$chip--dark-color};
		--chip--hover-background: #{settings.$chip--dark--hover-background};
		--chip--active-background: #{settings.$chip--dark--active-background};
		--chip--outlined-border: #{settings.$chip--dark--outlined-border};
		--chip--outlined--hover-background: #{settings.$chip--dark--outlined--hover-background};
		--chip--outlined--active-background: #{settings.$chip--dark--outlined--active-background};
	}

	@include mixins.light-theme(chip) {
		--chip-background: #{settings.$chip--light-background};
		--chip-color: #{settings.$chip--light-color};
		--chip--hover-background: #{settings.$chip--light--hover-background};
		--chip--active-background: #{settings.$chip--light--active-background};
		--chip--outlined-border: #{settings.$chip--light--outlined-border};
		--chip--outlined--hover-background: #{settings.$chip--light--outlined--hover-background};
		--chip--outlined--active-background: #{settings.$chip--light--outlined--active-background};
	}
}
