@if (in-array(data-table, $component-settings)) {
	.data-table {
		--data-table-border-radius: #{$data-table-border-radius};
		--data-table-border: #{$data-table-border};

		--data-table__header-font-size: #{$data-table__header-font-size};
		--data-table__header-color: #{$data-table__header-color};
		--data-table__header-background: #{$data-table__header-background};
		--data-table__header-font-weight: #{$data-table__header-font-weight};
		--data-table__header--hover-color: #{$data-table__header--hover-color};
		--data-table__header-height: #{$data-table__header-height};

		--data-table__body-color: #{$data-table__body-color};
		--data-table__body-font-size: #{$data-table__body-font-size};

		--data-table__row-height: #{$data-table__row-height};
		--data-table__row-border-bottom: #{$data-table__row-border-bottom};
		--data-table__row__icon-size: #{$data-table__row__icon-size};
		--data-table__row--hover-background: #{$data-table__row--hover-background};

		--data-table__column-padding: #{$data-table__column-padding};

		width: 100%;
		border-collapse: separate;
		border-spacing: 0;
		border-radius: var(--data-table-border-radius);
		border: var(--data-table-border);

		th, th a {
			font-size: var(--data-table__header-font-size);
			color: var(--data-table__header-color);
			font-weight: var(--data-table__header-font-weight);
			text-align: left;
			transition: color .1s $easing-standard;
			@extend %cursor--pointer;

			&:hover, &:hover .icon {
				color: var(--data-table__header--hover-color);
			}
		}

		@media #{$lg-and-up} {
			th {
				position: sticky;
				top: var(--app-bar-height);
				background: var(--data-table__header-background);
				z-index: 1;
			}
		}

		td {
			color: var(--data-table__body-color);
			font-size: var(--data-table__body-font-size);
			@include chain(min-height, line-height, var(--data-table__row-height));
		}

		th {
			@include chain(height, line-height, var(--data-table__header-height));
		}

		td, th {
			border-bottom: var(--data-table__row-border-bottom);
			padding: var(--data-table__column-padding);

			> .icon {
				vertical-align: middle;
				--icon-size: var(--data-table__row__icon-size);
			}
		}

		tr:last-child td {
			border-bottom: unset;
		}

		@if (in-array(hover, $data-table-settings)) {
			&--hover {
				tbody tr:hover {
					transition: background .1s $easing-standard;
					background: var(--data-table__row--hover-background);
				}
			}
		}

		@if (in-array(numeric, $data-table-settings)) {
			&--numeric {
				text-align: right !important; // TODO Fix important
			}
		}

		@media #{$md-and-down} {
			&--responsive {
				overflow-x: auto;
			}
		}
	}

	@include dark-theme(data-table) {
		--data-table-border: #{$data-table__dark-border};

		--data-table__header-color: #{$data-table__dark__header-color};
		--data-table__header--hover-color: #{$data-table__dark__header--hover-color};

		--data-table__body-color: #{$data-table__dark__body-color};

		--data-table__row-border-bottom: #{$data-table__dark__row-border-bottom};
		--data-table__row--hover-background: #{$data-table__dark__row--hover-background};
	}

	@include light-theme(data-table) {
		--data-table-border: #{$data-table__light-border};

		--data-table__header-color: #{$data-table__light__header-color};
		--data-table__header--hover-color: #{$data-table__light__header--hover-color};

		--data-table__body-color: #{$data-table__light__body-color};

		--data-table__row-border-bottom: #{$data-table__light__row-border-bottom};
		--data-table__row--hover-background: #{$data-table__light__row--hover-background};
	}
}