.data-table {
    width: 100%;
    border-collapse: collapse;

    th, th a {
        font-size: var(--data-table__header-font-size);
        color: var(--data-table__header-color);
        font-weight: var(--data-table__header-font-weight);
        text-align: left;
        transition: color .1s $easing-standard;
        @extend %cursor--pointer;

        &:hover, &:hover .icon {
            color: var(--data-table__header--hover-color);
        }
    }

    td {
        color: var(--data-table__body-color);
        font-size: var(--data-table__body-font-size);
    }

    td, th {
        @include chain(height, line-height, var(--data-table__row-height));
        border-bottom: var(--data-table__row-border-bottom);

		.icon {
            vertical-align: middle;
            --icon-size: var(--data-table__row__icon-size);
		}
    }

    &--hover {
        tbody tr:hover {
            transition: background .1s $easing-standard;
            background: var(--data-table__row--hover-background);
        }
    }

    &--responsive {
        overflow-x: auto;
    }
}

:root {
    --data-table__header-font-size: #{$data-table__header-font-size};
    --data-table__header-color: #{$data-table__header-color};
    --data-table__header-font-weight: #{$data-table__header-font-weight};
    --data-table__header--hover-color: #{$data-table__header--hover-color};

    --data-table__body-color: #{$data-table__body-color};
    --data-table__body-font-size: #{$data-table__body-font-size};

    --data-table__row-height: #{$data-table__row-height};
    --data-table__row-border-bottom: #{$data-table__row-border-bottom};
    --data-table__row__icon-size: #{$data-table__row__icon-size};
    --data-table__row--hover-background: #{$data-table__row--hover-background};
}