@use '../helpers/functions';
@use '../helpers/mixins';
@use '../foundation/settings';
@use '../colors/colors';
@use '../grid/media-queries';

@if (functions.in-array(dialog, settings.$component-settings)) {
	.dialog {
		--dialog-border-radius: #{settings.$dialog-border-radius};
		--dialog-background: #{settings.$dialog-background};
		--dialog-width: #{settings.$dialog-width};
		--dialog-max-height: #{settings.$dialog-max-height};

		--dialog__header-color: #{settings.$dialog__header-color};
		--dialog__header-height: #{settings.$dialog__header-height};
		--dialog__header-padding: #{settings.$dialog__header-padding};

		--dialog__content-color: #{settings.$dialog__content-color};
		--dialog__content-padding: #{settings.$dialog__content-padding};

		--dialog__actions-height: #{settings.$dialog__actions-height};
		--dialog__actions-padding: #{settings.$dialog__actions-padding};
		--dialog__actions-margin-left: #{settings.$dialog__actions-margin-left};

		--dialog--scroll__header-border-bottom: #{settings.$dialog--scroll__header-border-bottom};
		--dialog--scroll__actions-border-top: #{settings.$dialog--scroll__actions-border-top};
		--dialog--scroll__content-padding-bottom: #{settings.$dialog--scroll__content-padding-bottom};

		@media #{media-queries.$md-and-up} {
			--dialog-width: #{settings.$dialog-md-up-width};
		}

		@if (functions.in-array(simple, settings.$dialog-settings)) {
			--dialog--simple__list__support__image-padding-left: #{settings.$dialog--simple__list__support__image-padding-left};
			--dialog--simple__list__content-padding: #{settings.$dialog--simple__list__content-padding};
		}

		@if (functions.in-array(alert, settings.$dialog-settings)) {
			--dialog--alert__content-height: #{settings.$dialog--alert__content-height};
		}

		@if (functions.in-array(full-screen, settings.$dialog-settings)) {
			--dialog--full-screen__header-height: #{settings.$dialog--full-screen__header-height};
			--dialog--full-screen__header-background: #{settings.$dialog--full-screen__header-background};
			--dialog--full-screen__header-padding: #{settings.$dialog--full-screen__header-padding};
			--dialog--full-screen__header__icon-size: #{settings.$dialog--full-screen__header__icon-size};
			--dialog--full-screen__header__title-padding-left: #{settings.$dialog--full-screen__header__title-padding-left};
			--dialog--full-screen__header__color: #{settings.$dialog--full-screen__header__color};
			--dialog--full-screen__content-padding: #{settings.$dialog--full-screen__content-padding};
		}


		$el: &;
		border-radius: var(--dialog-border-radius);
		@extend %z24;
		background: var(--dialog-background);
		@extend %body-2;
		width: 0;
		max-height: 0;
		overflow: hidden;
		z-index: 3;
		@extend %position--fixed;
		opacity: 0;
		pointer-events: none;
		@include mixins.chain(top, left, 50%);
		transform: translateX(-50%) translateY(-50%);
		transition: max-height .1s settings.$easing-standard, width .1s settings.$easing-standard, opacity .1s settings.$easing-standard;
		@extend %display--grid;
		grid-template-areas: "header" "content" "actions";

		@if (settings.$theme == dark) {
			@extend %overlay24;
		}

		&__header {
			grid-area: header;
			@include mixins.chain(height, line-height, var(--dialog__header-height));
			@extend %h6;
			color: var(--dialog__header-color);
			padding: var(--dialog__header-padding);
		}

		&__content {
			grid-area: content;
			overflow-y: auto;
			@extend %body-1;
			color: var(--dialog__content-color);
			padding: var(--dialog__content-padding);
		}

		&__actions {
			grid-area: actions;
			height: var(--dialog__actions-height);
			text-align: right;
			padding: var(--dialog__actions-padding);

			> * {
				margin-left: var(--dialog__actions-margin-left);
			}
		}

		&__header, &__actions {
			background: var(--dialog-background);
		}

		&--active {
			pointer-events: all;
			width: var(--dialog-width);
			opacity: 1;
			max-height: var(--dialog-max-height);
		}

		@if (functions.in-array(simple, settings.$dialog-settings)) {
			&--simple {
				grid-template-rows: var(--dialog__header-height) minmax(0, 1fr) 0;

				.list {
					&__support__image {
						padding-left: var(--dialog--simple__list__support__image-padding-left); // TODO fix important if possible
					}

					&__content {
						padding: var(--dialog--simple__list__content-padding);
					}
				}
			}
		}

		@if (functions.in-array(alert, settings.$dialog-settings)) {
			&--alert {
				min-height: calc(var(--dialog--alert__content-height) + var(--dialog__actions-height));
				grid-template-rows: 0 var(--dialog--alert__content-height) var(--dialog__actions-height);

				#{$el}__content {
					@include mixins.chain(height, line-height, var(--dialog--alert__content-height));
				}
			}
		}

		@if (functions.in-array(confirm, settings.$dialog-settings)) {
			&--confirm {
				grid-template-rows: var(--dialog__header-height) minmax(0, 1fr) var(--dialog__actions-height);
			}
		}

		@if (functions.in-array(full-screen, settings.$dialog-settings)) {
			&--full-screen {
				@include mixins.chain(max-height, max-width, 100%);
				@include mixins.chain(height, width, 100%);
				border-radius: 0;

				#{$el}__header {
					@include mixins.chain(height, line-height, var(--dialog--full-screen__header-height));
					background: var(--dialog--full-screen__header-background);
					@extend %display--grid;
					grid-template-columns: auto 1fr 1fr;
					padding: var(--dialog--full-screen__header-padding);
					@extend %z4;

					.icon {
						grid-column-start: 1;
						--icons-size: var(--dialog--full-screen__header__icon-size);
					}

					&__title {
						grid-column-start: 2;
						@extend %h6;
						padding-left: var(--dialog--full-screen__header__title-padding-left);
					}

					&__action {
						grid-column-start: 3;
						text-align: right;
					}

					.icon, &__title, .button {
						color: var(--dialog--full-screen__header__color);
					}

					.icon, &__title, &__action {
						line-height: var(--dialog--full-screen__header-height);
					}
				}

				#{$el}__content {
					padding: var(--dialog--full-screen__content-padding);
				}
			}
		}

		// Should only be set when the content needs to scroll
		&--scroll {
			#{$el}__header {
				border-bottom: var(--dialog--scroll__header-border-bottom);
			}

			#{$el}__content {
				padding-bottom: var(--dialog--scroll__content-padding-bottom);
			}

			#{$el}__actions {
				border-top: var(--dialog--scroll__actions-border-top);
			}
		}
	}

	@include mixins.dark-theme(dialog) {
		--dialog-background: #{settings.$dialog--dark-background};

		--dialog__header-color: #{settings.$dialog--dark__header-color};

		--dialog__content-color: #{settings.$dialog--dark__content-color};

		--dialog--scroll__header-border-bottom: #{settings.$dialog--dark--scroll__header-border-bottom};

		@include mixins.overlay(24);
	}

	@include mixins.light-theme(dialog) {
		--dialog-background: #{settings.$dialog--light-background};

		--dialog__header-color: #{settings.$dialog--light__header-color};

		--dialog__content-color: #{settings.$dialog--light__content-color};

		--dialog--scroll__header-border-bottom: #{settings.$dialog--light--scroll__header-border-bottom};
	}
}
