@use '../helpers/functions';
@use '../foundation/settings';
@use '../grid/media-queries';

@if (functions.in-array(divider, settings.$component-settings)) {
	.divider {
		--divider-height: #{settings.$divider-height};
		--divider-margin: #{settings.$divider-margin};

		width: 100%;
		height: var(--divider-height);
		@extend %divider-background;
		border: none 0;
		margin: var(--divider-margin);

		@if (functions.in-array(vertical, settings.$divider-settings)) {
			&--vertical {
				transform: rotate(90deg);
			}
		}
	}
}

:root {
	--divider-background: #{settings.$divider-background};

	@if (settings.$theme == light and functions.in-array(dark, settings.$media-themes)) {
		@media #{media-queries.$dark} {
			--divider-background: #{settings.$divider--dark-background};
		}
	}

	@if (settings.$theme == dark and functions.in-array(light, settings.$media-themes)) {
		@media #{media-queries.$light} {
			--divider-background: #{settings.$divider--light-background}
		}
	}
}

%divider-color {
	color: var(--divider-background);
}

%divider-background {
	background: var(--divider-background);
}

%divider-border {
	border: functions.rem-calc(1px) solid var(--divider-background);
}

%divider-top-border {
	border-top: functions.rem-calc(1px) solid var(--divider-background);
}

%divider-bottom-border {
	border-bottom: functions.rem-calc(1px) solid var(--divider-background);
}
