.divider {
    width: 100%;
    height: var(--divider-height);
    background: var(--divider-background);
    border: none 0;
	margin: var(--divider-margin);

	&--vertical {
		transform: rotate(90deg);
	}
}

:root {
    --divider-height: #{$divider-height};
    --divider-background: #{$divider-background};
	--divider-margin: #{$divider-margin};
}