@if(in-array(divider, $component-settings)) {
	.divider {
		--divider-height: #{$divider-height};
		--divider-background: #{$divider-background};
		--divider-margin: #{$divider-margin};

		@media #{$dark} {
			--divider-background: #{$divider__dark-background};
		}

		@media #{$light} {
			--divider-background: #{$divider__light-background}
		}

		width: 100%;
		height: var(--divider-height);
		background: var(--divider-background);
		border: none 0;
		margin: var(--divider-margin);

		@if(in-array(vertical, $divider-settings)) {
			&--vertical {
				transform: rotate(90deg);
			}
		}
	}
}