@if (in-array(drawer, $component-settings)) {
	.drawer {
		--drawer-background: #{$drawer-background};
		--drawer-margin-right: #{$drawer-margin-right};
		--drawer-border-right: #{$drawer-border-right};

		--drawer__icon-size: #{$drawer__icon-size};

		--drawer__item-margin: #{$drawer__item-margin};
		--drawer__item-min-height: #{$drawer__item-min-height};
		--drawer__item-width: #{$drawer__item-width};
		--drawer__item--hover-background: #{$drawer__item--hover-background};
		--drawer__item--click-background: #{$drawer__item--click-background};
		--drawer__item--active-background: #{$drawer__item--active-background};
		--drawer__item--active-color: #{$drawer__item--active-color};
		--drawer__item--active--hover-color: #{$drawer__item--active--hover-color};
		--drawer__item--active--active-color: #{$drawer__item--active--active-color};
		--drawer__item__icon-margin: #{$drawer__item__icon-margin};
		--drawer__item__arrow-margin: #{$drawer__item__arrow-margin};
		--drawer__item__children-height: #{$drawer__item__children-height};
		--drawer__item__content-color: #{$drawer__item__content-color};
		--drawer__item__content-margin: #{$drawer__item__content-margin};
		--drawer__item__content-height: #{$drawer__item__content-height};

		--drawer__header-height: #{$drawer__header-height};
		--drawer__header__profile-image-size: #{$drawer__header__profile-image-size};
		--drawer__header__profile-name-color: #{$drawer__header__profile-name-color};
		--drawer__header__profile-email-color: #{$drawer__header__profile-email-color};

		--drawer__scrim-background: #{$drawer__scrim-background};

		$el: &;
		width: var(--drawer-width);
		position: fixed;
		margin-left: -102%;
		margin-right: var(--drawer-margin-right); // Make sure there is some room left on the right side of the screen
		background: var(--drawer-background);
		z-index: 2;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		transition: margin-left .3s $easing-accelerate;
		border-right: var(--drawer-border-right);

		&--active {
			margin-left: 0;
			transition: margin-left .3s $easing-decelerate;
		}

		&__item {
			min-height: var(--drawer__item-min-height);
			width: var(--drawer__item-width);
			display: grid;
			grid-template-areas: "icon content arrow";
			grid-template-columns: auto 1fr auto;
			margin: var(--drawer__item-margin);
			border-radius: var(--border-radius);
			transition: background .1s $easing-standard, color .1s $easing-standard;
			@extend %cursor--pointer;

			.icon {
				grid-area: icon;
				margin: var(--drawer__item__icon-margin);
			}

			.arrow {
				grid-area: arrow;
				margin: var(--drawer__item__arrow-margin);
			}

			.icon, .arrow {
				--icons-size: var(--drawer__icon-size);
			}

			&__content {
				grid-area: content;
				@extend %body-1;
				color: var(--drawer__item__content-color);
				margin: var(--drawer__item__content-margin);
				font-weight: 500;
			}

			.icon, &__content, .arrow {
				@include chain(height, line-height, var(--drawer__item__content-height));
			}

			&:hover {
				background: var(--drawer__item--hover-background);
				color: initial;
			}

			// &:focus {
			//     background: rgba($black, .12);
			// }

			&:active {
				background: var(--drawer__item--click-background);
			}

			&--active {
				background: var(--drawer__item--active-background);
				color: var(--drawer__item--active-color);

				.icon, #{$el}__item__content {
					color: var(--drawer__item--active-color);
				}

				&:hover {
					background: var(--drawer__item--active--hover-color);
				}

				&:active {
					background: var(--drawer__item--active--active-color);
				}
			}

			&__children {
				transition: max-height .1s $easing-decelerate;
				opacity: 0;
				pointer-events: none;
				overflow: hidden;

				&.active {
					transition: max-height .1s $easing-decelerate;
					opacity: 1;
					pointer-events: all;
				}

				#{$el}__item__content {
					font-weight: 400;
				}
			}
		}

		&__scrim {
			background: var(--drawer__scrim-background);
		}

		ul {
			list-style-type: none;
			padding: rem-calc(8px) 0;
			margin: 0;
			width: 100%;

			ul {
				padding: 0;

				&.active {
					margin: rem-calc(8px) 0 rem-calc(8px) rem-calc(8px);
					padding: rem-calc(8px) 0;
					@extend %divider-bottom-border, %divider-top-border;
				}

				#{$el}__item {
					width: calc(100% - #{rem-calc(8px) * 3});
				}
			}
		}

		@if (in-array(modal, $drawer-settings)) {
			&--modal {
				@extend %z16;
				border-right: 0;

				/*
				TODO somehow add a overlay
				> ul {
					@if ($theme == dark) {
						@extend %overlay16;
					}

					@media #{$dark} {
						@include overlay(16);
					}
				}*/
			}
		}

		@if (in-array(modal, $drawer-settings) or in-array(full-height, $drawer-settings) or in-array(fixed, $drawer-settings)) {
			&--modal, &--full-height, &--fixed {
				@include chain(top, left, bottom, 0);
			}
		}

		@if (in-array(clipped, $drawer-settings)) {
			&--clipped {
				@include chain(left, bottom, 0);
				top: var(--app-bar-height);
				box-shadow: none;
			}
		}

		@if (in-array(fixed, $drawer-settings)) {
			&--fixed {
				@media #{$sm-up} {
					margin-left: 0;
					box-shadow: none;
				}
			}
		}

		@if (in-array(header, $drawer-settings)) {
			&__header {
				$header: &;
				background: var(--drawer__header-background);
				height: var(--drawer__header-height);
				margin: rem-calc(-8px) 0 rem-calc(8px) 0;
				position: relative;

				&__background {
					width: 100%;
					height: var(--drawer__header-height);
				}

				&__profile-image {
					@include chain(width, height, var(--drawer__header__profile-image-size));
					top: rem-calc(16px);
					border-radius: 50%;
				}

				&__profile-name {
					color: var(--drawer__header__profile-name-color);
					@extend %h6;
					top: var(--app-bar-height);
				}

				&__profile-email {
					color: var(--drawer__header__profile-email-color);
					@extend %body-2;
					top: calc(var(--app-bar-height) + #{rem-calc( map-get( map-get($type-scale, body-2), size ) * 1.4 + 0px)} + #{rem-calc(8px)}); // TODO fix line-height
				}

				&__profile-image, &__profile-name, &__profile-email {
					left: rem-calc(16px);
				}

				&__profile-icon {
					right: rem-calc(16px);
					top: calc(var(--app-bar-height) + #{rem-calc( map-get( map-get($type-scale, body-2), size ) * 1.4 + 0px)} + #{rem-calc(8px)}); // TODO fix line-height
				}

				&__background, &__profile-image, &__profile-name, &__profile-email, &__profile-icon {
					position: absolute;
					user-select: none;
				}

				&--small {
					height: var(--app-bar-height);

					#{$header}__profile-image {
						top: rem-calc(8px);
					}

					#{$header}__profile-name {
						@extend %body-1;
						top: rem-calc(16px);
						left: calc(var(--drawer__header__profile-image-size) + (#{rem-calc(16px)} * 2));
					}
				}

				&--divider {
					border-bottom: rem-calc(1px) solid rgba($black, .12);
				}
			}

			.menu {
				position: absolute;
				top: 95%;
				right: rem-calc(4px);

				ul {
					padding: 0;
					margin: 0;
				}
			}
		}

		.divider {
			margin: rem-calc(8px) 0;
		}
	}

	@include dark-theme(drawer) {
		--drawer-background: #{$drawer--dark-background};
		--drawer-border-right: #{$drawer--dark-border-right};

		--drawer__item--hover-background: #{$drawer--dark__item--hover-background};
		--drawer__item--click-background: #{$drawer--dark__item--click-background};
		--drawer__item__content-color: #{$drawer--dark__item__content-color};
		--drawer__header__profile-name-color: #{$drawer--dark__header__profile-name-color};
		--drawer__header__profile-email-color: #{$drawer--dark__header__profile-email-color};

		--divider-background: #{$divider--dark-background};

		--scrollbar-background: #{$dark-scrollbar-background};
	}

	@include light-theme(drawer) {
		--drawer-background: #{$drawer--light-background};
		--drawer-border-right: #{$drawer--light-border-right};

		--drawer__item--hover-background: #{$drawer--light__item--hover-background};
		--drawer__item--click-background: #{$drawer--light__item--click-background};
		--drawer__item__content-color: #{$drawer--light__item__content-color};
		--drawer__header__profile-name-color: #{$drawer--light__header__profile-name-color};
		--drawer__header__profile-email-color: #{$drawer--light__header__profile-email-color};

		--divider-background: #{$divider--light-background};

		--scrollbar-background: #{$dark-scrollbar-background}
	}

	:root {
		--drawer-width: #{rem-calc(256px)};
	}
}
