@if(in-array(fab, $component-settings)) {
	.fab {
		--fab-size: #{$fab-size};
		--fab-padding: #{$fab-padding};
		--fab-background: #{$fab-background};
		--fab__icon-size: #{$fab__icon-size};
		--fab--hover-background: #{$fab--hover-background};
		--fab--active-background: #{$fab--active-background};

		@if(in-array(mini, $fab-settings)) {
			--fab--mini-size: #{$fab--mini-size};
			--fab--mini-padding: #{$fab--mini-padding};
		}

		@if(in-array(extended, $fab-settings)) {
			--fab--extended-height: #{$fab--extended-height};
			--fab--extended-border-radius: #{$fab--extended-border-radius};
			--fab--extended-padding: #{$fab--extended-padding};
			--fab--extended--icon-left-padding: #{$fab--extended--icon-left-padding};
			--fab--extended--icon-left__icon-margin-right: #{$fab--extended--icon-left__icon-margin-right};
			--fab--extended--icon-right-padding: #{$fab--extended--icon-right-padding};
			--fab--extended--icon-right__icon-margin-left: #{$fab--extended--icon-right__icon-margin-left};
		}

		$el: &;
		@extend %button;
		@include chain(width, height, var(--fab-size));
		padding: var(--fab-padding);
		border-radius: 50%;
		background: var(--fab-background);
		@extend %z6;
		color: var(--font-on-primary);
		text-align: center;
		@extend %cursor--pointer;
		user-select: none;
		@extend %position--relative;
		@extend %display--inline-block;
		vertical-align: middle;
		@include ripple();
		--ripple--hover-background: var(--fab--hover-background);
		--ripple--active-background: var(--fab--active-background);
		--icon-color: var(--font-on-primary);

		.icon {
			--icon-size: var(--fab__icon-size);
		}

		@if (in-array(mini, $fab-settings)) {
			&--mini {
				@include chain(width, height, var(--fab--mini-size));
				padding: var(--fab--mini-padding);
			}
		}

		@if (in-array(extended, $fab-settings)) {
			&--extended {
				width: auto;
				height: var(--fab--extended-height);
				border-radius: var(--fab--extended-border-radius);
				padding: var(--fab--extended-padding);

				&--icon-left {
					padding: var(--fab--extended--icon-left-padding);

					.icon {
						margin-right: var(--fab--extended--icon-left__icon-margin-right);
					}
				}

				&--icon-right {
					padding: var(--fab--extended--icon-right-padding);

					.icon {
						margin-left: var(--fab--extended--icon-right__icon-margin-left);
					}
				}
			}
		}

		&:disabled, &--disabled {
			@extend %disabled-background, %disabled-color;

			.icon {
				@extend %disabled-color;
			}
		}
	}

	@include dark-theme(fab) {
			--fab--hover-background: #{$fab--dark--hover-background};
			--fab--active-background: #{$fab--dark--active-background};
	}

	@include light-theme(fab) {
			--fab--hover-background: #{$fab--light--hover-background};
			--fab--active-background: #{$fab--light--active-background};
	}
}
