@use '../helpers/functions';
@use '../helpers/mixins';
@use '../foundation/settings';
@use '../grid/media-queries';
@use '../foundation/ripple';

@if(functions.in-array(fab, settings.$component-settings)) {
	.fab {
		--fab-size: #{settings.$fab-size};
		--fab-padding: #{settings.$fab-padding};
		--fab-background: #{settings.$fab-background};
		--fab__icon-size: #{settings.$fab__icon-size};
		--fab--hover-background: #{settings.$fab--hover-background};
		--fab--active-background: #{settings.$fab--active-background};

		@if(functions.in-array(mini, settings.$fab-settings)) {
			--fab--mini-size: #{settings.$fab--mini-size};
			--fab--mini-padding: #{settings.$fab--mini-padding};
		}

		@if(functions.in-array(extended, settings.$fab-settings)) {
			--fab--extended-height: #{settings.$fab--extended-height};
			--fab--extended-border-radius: #{settings.$fab--extended-border-radius};
			--fab--extended-padding: #{settings.$fab--extended-padding};
			--fab--extended--icon-left-padding: #{settings.$fab--extended--icon-left-padding};
			--fab--extended--icon-left__icon-margin-right: #{settings.$fab--extended--icon-left__icon-margin-right};
			--fab--extended--icon-right-padding: #{settings.$fab--extended--icon-right-padding};
			--fab--extended--icon-right__icon-margin-left: #{settings.$fab--extended--icon-right__icon-margin-left};
		}

		$el: &;
		@extend %button;
		@include mixins.chain(width, height, var(--fab-size));
		padding: var(--fab-padding);
		border-radius: 50%;
		background: var(--fab-background);
		@extend %z6;
		color: var(--font-on-primary);
		text-align: center;
		@extend %cursor--pointer;
		user-select: none;
		@extend %position--relative;
		@extend %display--inline-block;
		vertical-align: middle;
		@include ripple.ripple();
		--ripple--hover-background: var(--fab--hover-background);
		--ripple--active-background: var(--fab--active-background);
		--icon-color: var(--font-on-primary);

		.icon {
			--icon-size: var(--fab__icon-size);
		}

		@if (functions.in-array(mini, settings.$fab-settings)) {
			&--mini {
				@include mixins.chain(width, height, var(--fab--mini-size));
				padding: var(--fab--mini-padding);
			}
		}

		@if (functions.in-array(extended, settings.$fab-settings)) {
			&--extended {
				width: auto;
				height: var(--fab--extended-height);
				border-radius: var(--fab--extended-border-radius);
				padding: var(--fab--extended-padding);

				&--icon-left {
					padding: var(--fab--extended--icon-left-padding);

					.icon {
						margin-right: var(--fab--extended--icon-left__icon-margin-right);
					}
				}

				&--icon-right {
					padding: var(--fab--extended--icon-right-padding);

					.icon {
						margin-left: var(--fab--extended--icon-right__icon-margin-left);
					}
				}
			}
		}

		&:disabled, &--disabled {
			@extend %disabled-background, %disabled-color;

			.icon {
				@extend %disabled-color;
			}
		}
	}

	@include mixins.dark-theme(fab) {
			--fab--hover-background: #{settings.$fab--dark--hover-background};
			--fab--active-background: #{settings.$fab--dark--active-background};
	}

	@include mixins.light-theme(fab) {
			--fab--hover-background: #{settings.$fab--light--hover-background};
			--fab--active-background: #{settings.$fab--light--active-background};
	}
}
