@use '../helpers/functions';
@use '../helpers/mixins';
@use '../foundation/settings';
@use '../grid/media-queries';
@use '../foundation/typography';
@use '../properties/display';
@use '../foundation/shapes';

// TODO turn last values into variables
@if (functions.in-array(list, settings.$component-settings)) {
	.list {
		--list-background: #{settings.$list-background};
		--list-padding: #{settings.$list-padding};
		--list__content-color: #{settings.$list__content-color};
		--list__content-padding-left: #{settings.$list__content-padding-left};
		--list__content__title-color: #{settings.$list__content__title-color};
		--list__content__text-color: #{settings.$list__content__text-color};
		--list__content__overline-color: #{settings.$list__content__overline-color};

		--list-divider-border-bottom: #{settings.$list-divider-border-bottom};

		@if (functions.in-array(single, settings.$list-settings)) {
			--list--single-line-height: #{settings.$list--single-line-height};
			--list--single-line__content-height: #{settings.$list--single-line__content-height};
			--list--single-line__control-padding: #{settings.$list--single-line__control-padding};
			--list--single-line--support-height: #{settings.$list--single-line--support-height};
			--list--single-line--support__icon-padding: #{settings.$list--single-line--support__icon-padding};
			--list--single-line--support__image-padding: #{settings.$list--single-line--support__image-padding};
			--list--single-line--support__control-padding: #{settings.$list--single-line--support__control-padding};
		}

		@if (functions.in-array(two, settings.$list-settings)) {
			--list--two-line-height: #{settings.$list--two-line-height};
			--list--two-line__content-padding: #{settings.$list--two-line__content-padding};
			--list--two-line__support-height: #{settings.$list--two-line__support-height};
			--list--two-line__support__icon-padding: #{settings.$list--two-line__support__icon-padding};
			--list--two-line__support__image-padding: #{settings.$list--two-line__support__image-padding};
			--list--two-line__support__image__img-size: #{settings.$list--two-line__support__image__img-size};
			--list--two-line__support__image--large-padding: #{settings.$list--two-line__support__image--large-padding};
			--list--two-line__support__image--large__img-width: #{settings.$list--two-line__support__image--large__img-width};
			--list--two-line__support__image--large__img-height: #{settings.$list--two-line__support__image--large__img-height};
			--list--two-line__support__control-padding: #{settings.$list--two-line__support__control-padding};
		}

		@if (functions.in-array(three, settings.$list-settings)) {
			--list--three-line-height: #{settings.$list--three-line-height};
			--list--three-line__content-padding: #{settings.$list--three-line__content-padding};
			--list--three-line__support__icon-padding: #{settings.$list--three-line__support__icon-padding};
			--list--three-line__support__image-padding: #{settings.$list--three-line__support__image-padding};
			--list--three-line__support__image__img-size: #{settings.$list--three-line__support__image__img-size};
			--list--three-line__support__image--large-padding: #{settings.$list--three-line__support__image--large-padding};
			--list--three-line__support__image--large__img-width: #{settings.$list--three-line__support__image--large__img-width};
			--list--three-line__support__image--large__img-height: #{settings.$list--three-line__support__image--large__img-height};
			--list--three-line__support__control-padding: #{settings.$list--three-line__support__control-padding};
		}

		$el: &;
		list-style-type: none;
		width: 100%;
		padding: var(--list-padding);
		margin: 0;
		background: var(--list-background);

		@if (functions.in-array(single, settings.$list-settings)) {
			&--single-line {
				height: var(--list--single-line-height);

				#{$el}__content {
					@include mixins.chain(height, line-height, var(--list--single-line__content-height));
				}

				#{$el}__control {
					padding: var(--list--single-line__control-padding);
				}

				&#{$el}--support {
					height: var(--list--single-line--support-height);

					#{$el}__support__icon {
						padding: var(--list--single-line--support__icon-padding);
					}

					#{$el}__support__image {
						padding: var(--list--single-line--support__image-padding);
						overflow: hidden;

						img {
							@include mixins.chain(width, height, functions.rem-calc(40px));
							@extend %shape--circle;
						}
					}

					#{$el}__content {
						@include mixins.chain(height, line-height, var(--list--single-line--support-height));
					}

					#{$el}__control {
						padding: var(--list--single-line--support__control-padding);
					}

					&--large {
						height: functions.rem-calc(72px);

						#{$el}__support__image {
							padding: functions.rem-calc(8px) 0 functions.rem-calc(8px) functions.rem-calc(16px);

							img {
								@include mixins.chain(width, height, var(--list--single-line--support-height));
							}
						}

						#{$el}__support__image--large {
							padding: functions.rem-calc(8px) 0;

							img {
								width: functions.rem-calc(100px);
								height: var(--list--single-line--support-height);
							}
						}

						#{$el}__support__image, #{$el}__support__image--large {
							overflow: hidden;
						}

						#{$el}__content {
							@include mixins.chain(height, line-height, functions.rem-calc(72px));
						}

						#{$el}__control {
							padding: functions.rem-calc(24px) functions.rem-calc(16px);
						}
					}
				}
			}
		}

		@if (functions.in-array(two, settings.$list-settings)) {
			&--two-line {
				height: var(--list--two-line-height);

				#{$el}__content {
					padding: var(--list--two-line__content-padding);
				}

				&#{$el}--support {
					height: var(--list--two-line__support-height);

					#{$el}__support__icon {
						padding: var(--list--two-line__support__icon-padding);
					}

					#{$el}__support__image {
						padding: var(--list--two-line__support__image-padding);

						img {
							@include mixins.chain(width, height, var(--list--two-line__support__image__img-size));
						}

						&--large {
							padding: var(--list--two-line__support__image--large-padding);

							img {
								width: var(--list--two-line__support__image--large__img-width);
								height: var(--list--two-line__support__image--large__img-height);
							}
						}
					}

					#{$el}__control {
						padding: var(--list--two-line__support__control-padding);
					}
				}
			}
		}

		@if (functions.in-array(three, settings.$list-settings)) {
			&--three-line {
				height: var(--list--three-line-height);

				#{$el}__content {
					padding: var(--list--three-line__content-padding);
				}

				&#{$el}--support {
					#{$el}__support__icon {
						padding: var(--list--three-line__support__icon-padding);
					}

					#{$el}__support__image {
						padding: var(--list--three-line__support__image-padding);

						img {
							@include mixins.chain(width, height, var(--list--three-line__support__image__img-size));
						}

						&--large {
							padding: var(--list--three-line__support__image--large-padding);

							img {
								width: var(--list--three-line__support__image--large__img-width);
								height: var(--list--three-line__support__image--large__img-height);
							}
						}
					}

					#{$el}__control {
						padding: var(--list--three-line__support__control-padding);
					}
				}
			}
		}

		&__support {
			grid-area: support;
		}

		&__content {
			grid-area: content;
			@extend %body-1;
			color: var(--list__content-color);
			padding-left: var(--list__content-padding-left);

			&__title {
				@extend %body-1;
				color: var(--list__content__title-color);
			}

			&__text {
				@extend %body-2;
				color: var(--list__content__text-color);
			}

			.overline {
				@extend %overline;
				color: var(--list__content__overline-color);
			}

			&__title, &__text, .overline {
				width: 100%;
				@extend %display--block;
			}
		}

		&__control {
			grid-area: control;
		}

		&--single-line, &--two-line, &--three-line {
			@extend %display--grid;
			grid-template-areas: "support content control";
			grid-template-columns: auto 1fr auto;
		}

		&--divider {
			border-bottom: var(--list-divider-border-bottom);
		}
	}

	@include mixins.dark-theme(list) {
		--list-background: #{settings.$list--dark-background};

		--list__content-color: #{settings.$list--dark__content-color};
		--list__content__text-color: #{settings.$list--dark__content__text-color};

		--list-divider-border-bottom: #{settings.$list--dark-divider-border-bottom};
	}

	@include mixins.light-theme(list) {
		--list-background: #{settings.$list--light-background};

		--list__content-color: #{settings.$list--light__content-color};
		--list__content__text-color: #{settings.$list--light__content__text-color};

		--list-divider-border-bottom: #{settings.$list--light-divider-border-bottom};
	}
}
