// TODO turn last values into variables
@if(in-array(list, $component-settings)) {
	.list {
		--list-padding: #{$list-padding};
		--list__content-color: #{$list__content-color};
		--list__content-padding-left: #{$list__content-padding-left};
		--list__content__title-color: #{$list__content__title-color};
		--list__content__text-color: #{$list__content__text-color};
		--list__content__overline-color: #{$list__content__overline-color};

		--list-divider-border-bottom: #{$list-divider-border-bottom};

		@if (in-array(single, $list-settings)) {
			--list--single-line-height: #{$list--single-line-height};
			--list--single-line__content-height: #{$list--single-line__content-height};
			--list--single-line__control-padding: #{$list--single-line__control-padding};
			--list--single-line--support-height: #{$list--single-line--support-height};
			--list--single-line--support__icon-padding: #{$list--single-line--support__icon-padding};
			--list--single-line--support__image-padding: #{$list--single-line--support__image-padding};
			--list--single-line--support__control-padding: #{$list--single-line--support__control-padding};
		}

		@if (in-array(two, $list-settings)) {
			--list--two-line-height: #{$list--two-line-height};
			--list--two-line__content-padding: #{$list--two-line__content-padding};
			--list--two-line__support-height: #{$list--two-line__support-height};
			--list--two-line__support__icon-padding: #{$list--two-line__support__icon-padding};
			--list--two-line__support__image-padding: #{$list--two-line__support__image-padding};
			--list--two-line__support__image__img-size: #{$list--two-line__support__image__img-size};
			--list--two-line__support__image--large-padding: #{$list--two-line__support__image--large-padding};
			--list--two-line__support__image--large__img-width: #{$list--two-line__support__image--large__img-width};
			--list--two-line__support__image--large__img-height: #{$list--two-line__support__image--large__img-height};
			--list--two-line__support__control-padding: #{$list--two-line__support__control-padding};
		}

		@if (in-array(three, $list-settings)) {
			--list--three-line-height: #{$list--three-line-height};
			--list--three-line__content-padding: #{$list--three-line__content-padding};
			--list--three-line__support__icon-padding: #{$list--three-line__support__icon-padding};
			--list--three-line__support__image-padding: #{$list--three-line__support__image-padding};
			--list--three-line__support__image__img-size: #{$list--three-line__support__image__img-size};
			--list--three-line__support__image--large-padding: #{$list--three-line__support__image--large-padding};
			--list--three-line__support__image--large__img-width: #{$list--three-line__support__image--large__img-width};
			--list--three-line__support__image--large__img-height: #{$list--three-line__support__image--large__img-height};
			--list--three-line__support__control-padding: #{$list--three-line__support__control-padding};
		}

		$el: &;
		list-style-type: none;
		width: 100%;
		padding: var(--list-padding);
		margin: 0;

		@if($theme == light and in-array(dark, $themes)) {
			@media #{$dark} {
				--list__content-color: #{$list__dark__content-color};
				--list__content__text-color: #{$list__dark__content__text-color};

				--list-divider-border-bottom: #{$list__dark-divider-border-bottom};
			}
		}

		@if($theme == dark and in-array(light, $themes)) {
			@media #{$light} {
				--list__content-color: #{$list__light__content-color};
				--list__content__text-color: #{$list__light__content__text-color};

				--list-divider-border-bottom: #{$list__light-divider-border-bottom};
			}
		}

		@if (in-array(single, $list-settings)) {
			&--single-line {
				height: var(--list--single-line-height);

				#{$el}__content {
					@include chain(height, line-height, var(--list--single-line__content-height));
				}

				#{$el}__control {
					padding: var(--list--single-line__control-padding);
				}

				&#{$el}--support {
					height: var(--list--single-line--support-height);

					#{$el}__support__icon {
						padding: var(--list--single-line--support__icon-padding);
					}

					#{$el}__support__image {
						padding: var(--list--single-line--support__image-padding);
						overflow: hidden;

						img {
							@include chain(width, height, rem-calc(40px));
							@extend %shape--circle;
						}
					}

					#{$el}__content {
						@include chain(height, line-height, var(--list--single-line--support-height));
					}

					#{$el}__control {
						padding: var(--list--single-line--support__control-padding);
					}

					&--large {
						height: rem-calc(72px);

						#{$el}__support__image {
							padding: rem-calc(8px) 0 rem-calc(8px) rem-calc(16px);

							img {
								@include chain(width, height, var(--list--single-line--support-height));
							}
						}

						#{$el}__support__image--large {
							padding: rem-calc(8px) 0;

							img {
								width: rem-calc(100px);
								height: var(--list--single-line--support-height);
							}
						}

						#{$el}__support__image, #{$el}__support__image--large {
							overflow: hidden;
						}

						#{$el}__content {
							@include chain(height, line-height, rem-calc(72px));
						}

						#{$el}__control {
							padding: rem-calc(24px) rem-calc(16px);
						}
					}
				}
			}
		}

		@if (in-array(two, $list-settings)) {
			&--two-line {
				height: var(--list--two-line-height);

				#{$el}__content {
					padding: var(--list--two-line__content-padding);
				}

				&#{$el}--support {
					height: var(--list--two-line__support-height);

					#{$el}__support__icon {
						padding: var(--list--two-line__support__icon-padding);
					}

					#{$el}__support__image {
						padding: var(--list--two-line__support__image-padding);

						img {
							@include chain(width, height, var(--list--two-line__support__image__img-size));
						}

						&--large {
							padding: var(--list--two-line__support__image--large-padding);

							img {
								width: var(--list--two-line__support__image--large__img-width);
								height: var(--list--two-line__support__image--large__img-height);
							}
						}
					}

					#{$el}__control {
						padding: var(--list--two-line__support__control-padding);
					}
				}
			}
		}

		@if (in-array(three, $list-settings)) {
			&--three-line {
				height: var(--list--three-line-height);

				#{$el}__content {
					padding: var(--list--three-line__content-padding);
				}

				&#{$el}--support {
					#{$el}__support__icon {
						padding: var(--list--three-line__support__icon-padding);
					}

					#{$el}__support__image {
						padding: var(--list--three-line__support__image-padding);

						img {
							@include chain(width, height, var(--list--three-line__support__image__img-size));
						}

						&--large {
							padding: var(--list--three-line__support__image--large-padding);

							img {
								width: var(--list--three-line__support__image--large__img-width);
								height: var(--list--three-line__support__image--large__img-height);
							}
						}
					}

					#{$el}__control {
						padding: var(--list--three-line__support__control-padding);
					}
				}
			}
		}

		&__support {
			grid-area: support;
		}

		&__content {
			grid-area: content;
			@extend %body-1;
			color: var(--list__content-color);
			padding-left: var(--list__content-padding-left);

			&__title {
				@extend %body-1;
				color: var(--list__content__title-color);
			}

			&__text {
				@extend %body-2;
				color: var(--list__content__text-color);
			}

			.overline {
				@extend %overline;
				color: var(--list__content__overline-color);
			}

			&__title, &__text, .overline {
				width: 100%;
				display: block;
			}
		}

		&__control {
			grid-area: control;
		}

		&--single-line, &--two-line, &--three-line {
			display: grid;
			grid-template-areas: "support content control";
			grid-template-columns: auto 1fr auto;
		}

		&--divider {
			border-bottom: var(--list-divider-border-bottom);
		}
	}
}