@if(in-array(list, $component-settings)) {
	.list {
		--list-padding: #{rem-calc(8px) 0};

		@if (in-array(single, $list-settings)) {
			--list--single-line-height: #{rem-calc(48px)};
			--list--single-line__content-height: var(--list--single-line-height);
		}

		@if (in-array(two, $list-settings)) {
			--list--two-line-height: #{rem-calc(64px)};
			--list--two-line__content-padding: #{rem-calc(16px) 0 0 rem-calc(16px)};
			--list--two-line__support-height: #{rem-calc(72px)};
			--list--two-line__support__icon-padding: #{rem-calc(16px)};
			--list--two-line__support__image-padding: #{rem-calc(16px) 0 0 rem-calc(16px)};
			--list--two-line__support__image__img-size: #{rem-calc(40px)};
			--list--two-line__support__image--large-padding: #{rem-calc(8px) 0};
			--list--two-line__support__image--large__img-width: #{rem-calc(100px)};
			--list--two-line__support__image--large__img-height: #{rem-calc(56px)};
			--list--two-line__support__contol-padding: #{rem-calc(24px) rem-calc(16px) 0 rem-calc(16px)};
		}

		@if (in-array(three, $list-settings)) {
			--list--three-line-height: #{rem-calc(88px)};
			--list--three-line__content-padding: #{rem-calc(16px) 0 0 rem-calc(16px)};
			--list--three-line__support__icon-padding: #{rem-calc(16px)};
			--list--three-line__support__image-padding: #{rem-calc(16px) 0 0 rem-calc(16px)};
			--list--three-line__support__image__img-size: #{rem-calc(40px)};
			--list--three-line__support__image--large-padding: #{rem-calc(16px) rem-calc(4px) rem-calc(16px) 0};
			--list--three-line__support__image--large__img-width: #{rem-calc(100px)};
			--list--three-line__support__image--large__img-height: #{rem-calc(56px)};
			--list--three-line__support__control-padding: #{rem-calc(16px) rem-calc(16px) 0 rem-calc(16px)};
		}

		--list__content-color: #{$black}de;
		--list__content-padding-left: #{rem-calc(16px)};
		--list__content__title-color: var(--list__content-color);
		--list__content__text-color: #{$black}99;
		--list__content__overline-color: var(--list__content__text-color);

		--list-divider-border-bottom: #{rem-calc(1px) solid rgba($black, .12)};

		$el: &;
		list-style-type: none;
		width: 100%;
		padding: var(--list-padding);
		margin: 0;

		@if (in-array(single, $list-settings)) {
			&--single-line {
				grid-column-start: 2;
				height: var(--list--single-line-height);

				#{$el}__content {
					@include chain(height, line-height, var(--list--single-line__content-height));
				}

				#{$el}__control {
					padding: rem-calc(12px) rem-calc(16px);
				}

				&#{$el}--support {
					height: rem-calc(56px);

					#{$el}__support__icon {
						padding: rem-calc(16px);
					}

					#{$el}__support__image {
						padding: rem-calc(8px) 0 rem-calc(8px) rem-calc(16px);
						overflow: hidden;

						img {
							@include chain(width, height, rem-calc(40px));
							border-radius: 50%;
						}
					}

					#{$el}__content {
						@include chain(height, line-height, rem-calc(56px));
					}

					#{$el}__control {
						padding: rem-calc(16px);
					}

					&--large {
						height: rem-calc(72px);

						#{$el}__support__image {
							padding: rem-calc(8px) 0 rem-calc(8px) rem-calc(16px);

							img {
								@include chain(width, height, rem-calc(56px));
							}
						}

						#{$el}__support__image--large {
							padding: rem-calc(8px) 0;

							img {
								width: rem-calc(100px);
								height: rem-calc(56px);
							}
						}

						#{$el}__support__image, #{$el}__support__image--large {
							overflow: hidden;
						}

						#{$el}__content {
							@include chain(height, line-height, rem-calc(72px));
						}

						#{$el}__control {
							padding: rem-calc(24px) rem-calc(16px);
						}
					}
				}
			}
		}

		@if (in-array(two, $list-settings)) {
			&--two-line {
				height: var(--list--two-line-height);

				#{$el}__content {
					padding: var(--list--two-line__content-padding);
				}

				&#{$el}--support {
					height: var(--list--two-line__support-height);

					#{$el}__support__icon {
						padding: var(--list--two-line__support__icon-padding);
					}

					#{$el}__support__image {
						padding: var(--list--two-line__support__image-padding);

						img {
							@include chain(width, height, var(--list--two-line__support__image__img-size));
						}

						&--large {
							padding: var(--list--two-line__support__image--large-padding);

							img {
								width: var(--list--two-line__support__image--large__img-width);
								height: var(--list--two-line__support__image--large__img-height);
							}
						}
					}

					#{$el}__control {
						padding: var(--list--two-line__support__contol-padding);
					}
				}
			}
		}

		@if (in-array(three, $list-settings)) {
			&--three-line {
				height: var(--list--three-line-height);

				#{$el}__content {
					padding: var(--list--three-line__content-padding);
				}

				&#{$el}--support {
					#{$el}__support__icon {
						padding: var(--list--three-line__support__icon-padding);
					}

					#{$el}__support__image {
						padding: var(--list--three-line__support__image-padding);

						img {
							@include chain(width, height, var(--list--three-line__support__image__img-size));
						}

						&--large {
							padding: var(--list--three-line__support__image--large-padding);

							img {
								width: var(--list--three-line__support__image--large__img-width);
								height: var(--list--three-line__support__image--large__img-height);
							}
						}
					}

					#{$el}__control {
						padding: var(--list--three-line__support__control-padding);
					}
				}
			}
		}

		&__support {
			grid-column-start: 1;
		}

		&__content {
			grid-column-start: 2;
			@extend %body-1;
			color: var(--list__content-color);
			padding-left: var(--list__content-padding-left);

			&__title {
				@extend %body-1;
				color: var(--list__content__title-color);
			}

			&__text {
				@extend %body-2;
				color: var(--list__content__text-color);
			}

			.overline {
				@extend %overline;
				color: var(--list__content__overline-color);
			}

			&__title, &__text, .overline {
				width: 100%;
				display: block;
			}
		}

		&__control {
			grid-column-start: 3;
		}

		&--single-line, &--two-line, &--three-line {
			display: grid;
			grid-template-columns: auto 1fr auto;
		}

		&--divider {
			border-bottom: var(--list-divider-border-bottom);
		}
	}
}