@if(in-array(menu, $component-settings)) {
	.menu {
		--menu-max-width: #{rem-calc(280px)};
		--menu__icon-margin: #{rem-calc(12px)} 0 #{rem-calc(12px)} #{rem-calc(16px)};
		--menu__content-margin: 0 #{rem-calc(16px)};
		--menu-color: #{$black}de;
		--menu-left: auto;

		@media #{$md-up} {
			--menu-max-width: #{rem-calc(320px)};
			--menu__icon-margin: #{rem-calc(12px)} #{rem-calc(-4px)} #{rem-calc(12px)} #{rem-calc(16px)};
			--menu__content-margin: 0 #{rem-calc(24px)};
			--menu-color: #444;
		}

		list-style-type: none;
		margin: 0;
		min-width: rem-calc(112px);
		max-width: var(--menu-max-width);
		padding: rem-calc(8px) 0;
		border-radius: var(--border-radius);
		background: var(--background-color);
		@extend %z8;
		user-select: none;
		opacity: 0;
		overflow: auto;
		position: absolute;
		left: var(--menu-left);
		right: rem-calc(8px);
		z-index: 1;
		transition: max-width .1s $easing-standard, max-height .1s $easing-standard;
		pointer-events: none;

		/*a {
			grid-column: 1 / 3;

			.icon {
				color: #{$black}de;
			}
		}*/

		&__content {
			grid-column-start: 2;
			line-height: rem-calc(48px);
			margin: var(--menu__content-margin);
			@extend %body-2;
			color: var(--menu-color);
			text-align: left;
		}

		&__indicator {
			grid-column-start: 3;
		}

		&__divider {
			margin: rem-calc(8px) 0;
			height: rem-calc(1px);
			background: rgba($black, .12);
		}

		&--active {
			opacity: 1;
			pointer-events: all;
		}

		form {
			margin: 0;
		}

		button {
			background: transparent;
			padding: 0;
			width: 100%;
		}

		&__item {
			display: grid;
			grid-template-columns: auto 1fr auto;
			height: rem-calc(48px);
			width: 100%;
			transition: background .1s $easing-standard;
			@extend %cursor--pointer;

			.icon {
				grid-column-start: 1;
				margin: var(--menu__icon-margin);
				color: #{$black}de;
				@include chain(width, height, line-height, rem-calc(24px));
			}

			&:hover {
				background: rgba($primary-color, .04);
			}

			&:active {
				background: rgba($primary-color, .12);
			}

			&:disabled, &--disabled {
				color: rgba($black, .38);

				.icon, .menu__content {
					color: rgba($black, .38);
				}
			}
		}
	}
}