@if(in-array(menu, $component-settings)) {
	.menu {
		--menu-min-width: #{$menu-min-width};
		--menu-max-width: #{$menu-max-width};
		--menu__icon-margin: #{$menu__icon-margin};
		--menu__content-margin: #{$menu__content-margin};
		--menu-color: #{$menu-color};
		--menu-left: #{$menu-left};
		--menu-right: #{$menu-right};
		--menu-padding: #{$menu-padding};

		--menu__divider-margin: #{$menu__divider-margin};
		--menu__divider-height: #{$menu__divider-height};
		--menu__divider-background: #{$menu__divider-background};

		--menu__content-font-size: #{$menu__content-font-size};

		--menu__icon-size: #{$menu__icon-size};

		--menu__item-height: #{$menu__item-height};
		--menu__item--hover-background: #{$menu__item--hover-background};
		--menu__item--active-background: #{$menu__item--active-background};
		--menu__item--disabled-color: #{$menu__item--disabled-color};

		@media #{$md-up} {
			--menu-max-width: #{$menu-md-up-max-width};
			--menu__icon-margin: #{$menu-md-up__icon-margin};
			--menu__content-margin: #{$menu-md-up__content-margin};
		}

		$el: &;
		list-style-type: none;
		margin: 0;
		min-width: var(--menu-min-width);
		max-width: var(--menu-max-width);
		padding: var(--menu-padding);
		border-radius: var(--border-radius);
		background: var(--background-color);
		@extend %z8;
		user-select: none;
		opacity: 0;
		overflow: auto;
		position: absolute;
		left: var(--menu-left);
		right: var(--menu-right);
		z-index: 1;
		transition: max-width .1s $easing-standard, max-height .1s $easing-standard;
		pointer-events: none;

		&__content {
			grid-area: content;
			line-height: var(--menu__item-height);
			margin: var(--menu__content-margin);
			@extend %body-2;
			color: var(--menu-color);
			text-align: left;
			font-size: var(--menu__content-font-size);
		}

		&__indicator {
			grid-area: indicator;
		}

		&__divider {
			margin: var(--menu__divider-margin);
			height: var(--menu__divider-height);
			background: var(--menu__divider-background);
		}

		&--active {
			opacity: 1;
			pointer-events: all;
		}

		form {
			margin: 0;
		}

		button {
			background: transparent;
			padding: 0;
			width: 100%;
		}

		.icon {
			grid-area: icon;
			margin: var(--menu__icon-margin);
			color: var(--menu-color);
			--icon-size: var(--menu__icon-size);
		}

		&__item {
			display: grid;
			grid-template-areas: "icon content indicator";
			grid-template-columns: auto 1fr auto;
			height: var(--menu__item-height);
			width: 100%;
			transition: background .1s $easing-standard;
			@extend %cursor--pointer;

			&:hover {
				background: var(--menu__item--hover-background);
			}

			&:active {
				background: var(--menu__item--active-background);
			}

			&:disabled, &--disabled {
				color: var(--menu__item--disabled-color);

				.icon, #{$el}__content {
					color: var(--menu__item--disabled-color);
				}
			}
		}
	}
}