@use '../helpers/functions';
@use '../helpers/mixins';
@use '../foundation/settings';
@use '../grid/media-queries';
@use '../foundation/typography';
@use '../foundation/shadows';
@use '../properties/display';
@use '../properties/position';
@use '../properties/cursor';
@use '../helpers/placeholders';
@use '../components/divider';

@if (functions.in-array(menu, settings.$component-settings)) {
	.menu {
		--menu-min-width: #{settings.$menu-min-width};
		--menu-max-width: #{settings.$menu-max-width};
		--menu-color: #{settings.$menu-color};
		--menu-left: #{settings.$menu-left};
		--menu-right: #{settings.$menu-right};
		--menu-padding: #{settings.$menu-padding};
		--menu-background: #{settings.$menu-background};
		--menu-border-radius: #{settings.$menu-background};

		--menu__icon-margin: #{settings.$menu__icon-margin};

		--menu__divider-margin: #{settings.$menu__divider-margin};
		--menu__divider-height: #{settings.$menu__divider-height};

		--menu__content-font-size: #{settings.$menu__content-font-size};
		--menu__content-margin: #{settings.$menu__content-margin};

		--menu__icon-size: #{settings.$menu__icon-size};

		--menu__item-height: #{settings.$menu__item-height};
		--menu__item--hover-background: #{settings.$menu__item--hover-background};
		--menu__item--active-background: #{settings.$menu__item--active-background};

		@media #{media-queries.$md-up} {
			--menu-max-width: #{settings.$menu-md-up-max-width};
			--menu__icon-margin: #{settings.$menu-md-up__icon-margin};
			--menu__content-margin: #{settings.$menu-md-up__content-margin};
		}

		$el: &;
		list-style-type: none;
		margin: 0;
		min-width: var(--menu-min-width);
		max-width: var(--menu-max-width);
		padding: var(--menu-padding);
		border-radius: var(--border-radius);
		background: var(--menu-background);
		@extend %z8;
		user-select: none;
		opacity: 0;
		overflow: auto;
		@extend %position--absolute;
		left: var(--menu-left);
		right: var(--menu-right);
		z-index: 1;
		transition: max-width .1s settings.$easing-standard, max-height .1s settings.$easing-standard;
		pointer-events: none;

		@if (settings.$theme == dark) {
			@extend %overlay8;
		}

		&__content {
			grid-area: content;
			line-height: var(--menu__item-height);
			margin: var(--menu__content-margin);
			@extend %body-2;
			color: var(--menu-color);
			text-align: left;
			font-size: var(--menu__content-font-size);
		}

		&__indicator {
			grid-area: indicator;
		}

		&__divider {
			margin: var(--menu__divider-margin);
			height: var(--menu__divider-height);
			@extend %divider-background;
		}

		&--active {
			opacity: 1;
			pointer-events: all;
		}

		form {
			margin: 0;
		}

		button {
			background: transparent;
			padding: 0;
			width: 100%;
		}

		.icon {
			grid-area: icon;
			margin: var(--menu__icon-margin);
			color: var(--menu-color);
			--icon-size: var(--menu__icon-size);
		}

		&__item {
			@extend %display--grid;
			grid-template-areas: "icon content indicator";
			grid-template-columns: auto 1fr auto;
			height: var(--menu__item-height);
			width: 100%;
			transition: background .1s settings.$easing-standard;
			@extend %cursor--pointer;

			&:hover {
				background: var(--menu__item--hover-background);
			}

			&:active {
				background: var(--menu__item--active-background);
			}

			&:disabled, &--disabled {
				@extend %disabled-color;

				.icon, #{$el}__content {
					@extend %disabled-color;
				}
			}
		}
	}

	@include mixins.dark-theme(menu) {
		--menu-background: #{settings.$menu--dark-background};
		--menu-color: #{settings.$menu--dark-color};
		@include mixins.overlay(8);
	}

	@include mixins.light-theme(menu) {
		--menu-background: #{settings.$menu--light-background};
		--menu-color: #{settings.$menu--light-color};
	}
}
