@if(in-array(notification, $component-settings)) {
	.notification {
		--notification-color: #{$notification-color};
		--notification-border-radius: #{$notification-border-radius};
		--notification-background: #{$notification-background};
		--notification-padding: #{$notification-padding};

		--notification__header__icon-size: #{$notification__header__icon-size};
		--notification__header-padding: #{$notification__header-padding};

		$el: &;
		border-radius: var(--notification-border-radius);
		background: var(--notification-background);
		@extend %z2;
		padding: var(--notification-padding);
		color: var(--notification-color);
		display: inline-grid;
		grid-template-areas:
			"header"
			"content"
			"expanded";

		@if($theme == dark) {
			@extend %overlay2;
		}

		.icon {
			color: var(--notification-color);
		}

		&__header {
			grid-area: header;
			padding: var(--notification__header-padding);
			line-height: rem-calc(16px);
			font-size: rem-calc(12px);
			display: grid;
			grid-template-areas: "icon content date expand";
			grid-template-columns: var(--notification__header__icon-size) auto auto var(--notification__header__icon-size);
			grid-column-gap: rem-calc(8px);

			.icon {
				grid-area: icon;
				--icon-size: var(--notification__header__icon-size);
			}

			&__content {
				grid-area: content;
			}

			&__date {
				grid-area: date;
			}

			.expand {
				grid-area: expand;
			}
		}

		&__content {
			grid-area: content;
			display: grid;

			&__title {
				grid-area: title;
				font-weight: 500;
			}

			&__text {
				grid-area: text;
			}

			&__image {
				grid-area: image;

				img {
					@include chain(width, height, rem-calc(40px));
				}
			}
		}

		&__expanded {
			grid-area: expanded;
			opacity: 0;
			max-height: 0;
			transition: max-height .3s $easing-accelerate, opacity .3s $easing-accelerate;

			&__actions {
				margin-left: rem-calc(-8px);

				> * {
					margin-right: rem-calc(8px);
				}
			}

			&--active {
				opacity: 1;
				max-height: 100vh;
				transition: max-height .3s $easing-decelerate, opacity .3s $easing-decelerate;
			}
		}

		@if(in-array(standard, $notification-settings)) {
			&--standard {
				#{$el}__content {
					grid-template-areas: "title""text";
				}
			}
		}

		@if(in-array(big-text, $notification-settings)) {
			&--big-text {
				#{$el}__content {
					grid-template-columns: 1fr rem-calc(40px);
					grid-template-areas: "title image" "text image";
				}
			}
		}

		@if(in-array(big-picture, $notification-settings)) {
			&--big-picture {
				#{$el}__content {
					grid-template-columns: 1fr rem-calc(40px);
					grid-template-areas: "title image" "text image";
				}

				#{$el}__expanded img {
					width: 100%;
				}
			}
		}

		@if(in-array(progress, $notification-settings)) {
			&--progress {
				#{$el}__content {
					grid-template-areas: "title text" "image image";
					grid-template-columns: auto auto;
				}
			}
		}

		@if(in-array(messaging, $notification-settings)) {
			&--messaging {
				#{$el}__content {
					grid-template-areas: "image title icon" "image text icon";
					grid-template-columns: rem-calc(40px) auto auto;

					.icon {
						grid-area: icon;
						--icon-size: #{rem-calc(30px)};
					}

					&__title, &__text {
						padding: 0 rem-calc(16px);
					}
				}
			}
		}
	}

	@include dark-theme(notification) {
		--notification-color: #{$notification--dark-color};
		--notification-background: #{$notification--dark-background};
	}

	@include light-theme(notification) {
		--notification-color: #{$notification--light-color};
		--notification-background: #{$notification--light-background};
	}
}
