@use '../helpers/functions';
@use '../helpers/mixins';
@use '../foundation/settings';
@use '../grid/media-queries';

@if(functions.in-array(notification, settings.$component-settings)) {
	.notification {
		--notification-color: #{settings.$notification-color};
		--notification-border-radius: #{settings.$notification-border-radius};
		--notification-background: #{settings.$notification-background};
		--notification-padding: #{settings.$notification-padding};

		--notification__header__icon-size: #{settings.$notification__header__icon-size};
		--notification__header-padding: #{settings.$notification__header-padding};

		$el: &;
		border-radius: var(--notification-border-radius);
		background: var(--notification-background);
		@extend %z2;
		padding: var(--notification-padding);
		color: var(--notification-color);
		@extend %display--inline-grid;
		grid-template-areas:
			"header"
			"content"
			"expanded";

		@if(settings.$theme == dark) {
			@extend %overlay2;
		}

		.icon {
			color: var(--notification-color);
		}

		&__header {
			grid-area: header;
			padding: var(--notification__header-padding);
			line-height: functions.rem-calc(16px);
			font-size: functions.rem-calc(12px);
			@extend %display--grid;
			grid-template-areas: "icon content date expand";
			grid-template-columns: var(--notification__header__icon-size) auto auto var(--notification__header__icon-size);
			grid-column-gap: functions.rem-calc(8px);

			.icon {
				grid-area: icon;
				--icon-size: var(--notification__header__icon-size);
			}

			&__content {
				grid-area: content;
			}

			&__date {
				grid-area: date;
			}

			.expand {
				grid-area: expand;
			}
		}

		&__content {
			grid-area: content;
			@extend %display--grid;

			&__title {
				grid-area: title;
				font-weight: 500;
			}

			&__text {
				grid-area: text;
			}

			&__image {
				grid-area: image;

				img {
					@include mixins.chain(width, height, functions.rem-calc(40px));
				}
			}
		}

		&__expanded {
			grid-area: expanded;
			opacity: 0;
			max-height: 0;
			transition: max-height .3s settings.$easing-accelerate, opacity .3s settings.$easing-accelerate;

			&__actions {
				margin-left: functions.rem-calc(-8px);

				> * {
					margin-right: functions.rem-calc(8px);
				}
			}

			&--active {
				opacity: 1;
				max-height: 100vh;
				transition: max-height .3s settings.$easing-decelerate, opacity .3s settings.$easing-decelerate;
			}
		}

		@if(functions.in-array(standard, settings.$notification-settings)) {
			&--standard {
				#{$el}__content {
					grid-template-areas: "title""text";
				}
			}
		}

		@if(functions.in-array(big-text, settings.$notification-settings)) {
			&--big-text {
				#{$el}__content {
					grid-template-columns: 1fr functions.rem-calc(40px);
					grid-template-areas: "title image" "text image";
				}
			}
		}

		@if(functions.in-array(big-picture, settings.$notification-settings)) {
			&--big-picture {
				#{$el}__content {
					grid-template-columns: 1fr functions.rem-calc(40px);
					grid-template-areas: "title image" "text image";
				}

				#{$el}__expanded img {
					width: 100%;
				}
			}
		}

		@if(functions.in-array(progress, settings.$notification-settings)) {
			&--progress {
				#{$el}__content {
					grid-template-areas: "title text" "image image";
					grid-template-columns: auto auto;
				}
			}
		}

		@if(functions.in-array(messaging, settings.$notification-settings)) {
			&--messaging {
				#{$el}__content {
					grid-template-areas: "image title icon" "image text icon";
					grid-template-columns: functions.rem-calc(40px) auto auto;

					.icon {
						grid-area: icon;
						--icon-size: #{functions.rem-calc(30px)};
					}

					&__title, &__text {
						padding: 0 functions.rem-calc(16px);
					}
				}
			}
		}
	}

	@include mixins.dark-theme(notification) {
		--notification-color: #{settings.$notification--dark-color};
		--notification-background: #{settings.$notification--dark-background};
	}

	@include mixins.light-theme(notification) {
		--notification-color: #{settings.$notification--light-color};
		--notification-background: #{settings.$notification--light-background};
	}
}
