@use '../helpers/functions';
@use '../helpers/mixins';
@use '../foundation/settings';
@use '../grid/media-queries';
@use '../foundation/shadows';
@use '../properties/display';
@use '../properties/position';
@use '../properties/cursor';
@use '../foundation/shapes';
@use '../foundation/typography';

@if(functions.in-array(picker, settings.$component-settings)) {
	.picker {
		border-radius: var(--border-radius);
		@extend %z24;
		background-color: var(--surface-color);
		overflow: hidden;
		@extend %position--relative;
		width: functions.rem-calc(328px);

		&__header {
			background: var(--primary-color);
			color: var(--font-on-primary);
			--icon-color: var(--font-on-primary);
			padding: 0 functions.rem-calc(24px);
			@extend %display--grid;
			grid-template-areas: "title title""selected switch";
			grid-template-columns: 1fr functions.rem-calc(24px);
			grid-template-rows: functions.rem-calc(32px) functions.rem-calc(72px);
			height: functions.rem-calc(120px);
		}

		&__title {
			grid-area: title;
			@extend %overline;
			line-height: functions.rem-calc(48px);
		}

		&__selected-date {
			grid-area: selected;
			@extend %h6;
		}

		&__switch {
			grid-area: switch;
			@extend %cursor--pointer;
		}

		&__selected-date, &__switch {
			line-height: functions.rem-calc(72px);
		}

		&__calendar-header {
			@extend %display--grid;
			grid-template-columns: 1fr functions.rem-calc(24px) functions.rem-calc(24px);
			grid-column-gap: functions.rem-calc(24px);
			padding: functions.rem-calc(16px) functions.rem-calc(24px);
			height: functions.rem-calc((24 + (2 * 16)) + 0px);

			@if (settings.$theme == dark) {
				@extend %overlay24;
			}

			@if (settings.$theme == light) {
				@media #{media-queries.$dark} {
					@include mixins.overlay(24);
				}
			}

			> * {
				@extend %cursor--pointer;
			}
		}

		&__year {

			.icon {
				margin-left: functions.rem-calc(4px);
			}
		}

		&__calendar {
			padding: 0 functions.rem-calc(12px);
		}

		td, th {
			@include mixins.chain(width, height, functions.rem-calc(40px));
			padding: functions.rem-calc(2px);
			text-align: center;
		}

		&--current-date {
			border: functions.rem-calc(1px) solid var(--divider-background);
		}

		&--current-date, &--selected-date {
			@extend %shape--circle;
			@include mixins.chain(width, height, line-height, functions.rem-calc(36px));
		}

		&--selected-date {
			background-color: var(--primary-color);
			color: var(--font-on-primary);
		}

		&__actions {
			padding: functions.rem-calc(8px);
			text-align: right;

			> * {
				margin-left: functions.rem-calc(8px);
			}
		}
	}
}
