//TODO add <progress> tag styling
.progress {
    $el: &;
    width: 100%;
    height: rem-calc(4px);
    background: var(--progress-background);
    appearance: none;

    &::-webkit-progress-bar {
        background: var(--progress-background);
    }

    @include progress-bar-value {
        background: var(--progress-bar-background);
    }

    &--determinate, &--indeterminate {

        #{$el}__bar {
            height: 100%;
            background: var(--progress-bar-background);
        }
    }

    &--determinate #{$el}__bar {
        width: 0;
        transition: width .1s $easing-accelerate;
    }

    &:indeterminate, &--indeterminate {
        position: relative;
        overflow: hidden;

        #{$el}__bar {
            position: absolute;
            width: rem-calc(122px);
            transition: unset;
            animation: indeterminate 2s infinite;
        }
    }

    @keyframes indeterminate {
        from {
            width: 20%;
            left: -20%;
        }
        to {
            width: 40%;
            left: 100%;
        }
    }

    @keyframes dash {
        50% {
          stroke-dashoffset: 0;
        }
        100% {
          stroke-dashoffset: var(--progress-circle-stroke);
        }
      }
}

// Fix styling for the progress HTML element
progress.progress {
    background: none;
}

:root {
    --progress-background: #{rgba($primary-color, .6)};

    --progress-bar-background: #{var(--primary-color)};

    --progress-circle-stroke: 130;
}