@if(in-array(slider, $component-settings)) {
	.slider {
		--slider__thumb-background: var(--primary-color);
		--slider__thumb-size: #{rem-calc(12px)};

		--slider__track-height: #{rem-calc(2px)};
		--slider__track-background: #{rgba($primary-color, .12)};

		--slider-range: calc(var(--slider-max) - var(--slider-min));
		--slider-ratio: calc(var(--slider-value) - var(--slider-min)) / var(--slider-range);
		--slider-before: calc(.5 * var(--slider__thumb-size) + var(--slider-ratio) * (100% - var(--slider__thumb-size)));

		--slider__label-size: #{rem-calc(32px)};

		$el: &;
		position: relative;
		height: var(--slider__thumb-size);

		&__input {
			-webkit-appearance: none;
			width: 100%;
			background: transparent;
			position: absolute;
			@include chain(top, left, 0);

			$margin: calc(((var(--slider__thumb-size) - var(--slider__track-height)) / 2) * -1) 0 0 0;
			@include thumb-selector($margin) {
				@include thumb-styling(var(--slider__thumb-background), var(--slider__thumb-size));
			}

			@include track-selector() {
				@include track-styling(var(--slider__track-height), var(--slider__track-background));
			}

			&::-ms-tooltip {
				display: none;
			}

			&:disabled {
				--slider__thumb-background: #{rgba($black, .38)};
				--slider__track-background: #{rgba($black, .12)};

				@include thumb-selector($margin) {
					--slider__thumb-size: #{rem-calc(12px)};
					border: rem-calc(2px) solid $white;
				}
			}
		}

		&--disabled {
			#{$el}__track-before {
				--slider__thumb-background: #{rgba($black, .38)};
			}

			#{$el}__label {
				display: none;
			}
		}

		&__track-before {
			position: absolute;
			@include chain(height, top, left, var(--slider__track-height));
			background: var(--slider__thumb-background);
			width: 50%;
			pointer-events: none;
			z-index: 1;
		}

		&__label {
			background: var(--slider__thumb-background);
			color: $white;
			border-radius: 50%;
			text-align: center;
			@include chain(width, height, line-height, var(--slider__label-size));
			position: absolute;
			top: calc((var(--slider__label-size) + var(--slider__thumb-size)) * -1);
			font-size: rem-calc(12px);
			user-select: none;
		}
	}
}

