@use '../helpers/functions';
@use '../helpers/mixins';
@use '../foundation/settings';
@use '../grid/media-queries';
@use '../colors/colors';

@if(functions.in-array(slider, settings.$component-settings)) {
	.slider {
		--slider__thumb-background: var(--primary-color);
		--slider__thumb-size: #{functions.rem-calc(12px)};

		--slider__track-height: #{functions.rem-calc(2px)};
		--slider__track-background: #{rgba(settings.$primary-color, .12)};

		--slider-range: calc(var(--slider-max) - var(--slider-min));
		--slider-ratio: calc(var(--slider-value) - var(--slider-min)) / var(--slider-range);
		--slider-before: calc(.5 * var(--slider__thumb-size) + var(--slider-ratio) * (100% - var(--slider__thumb-size)));

		--slider__label-size: #{functions.rem-calc(32px)};

		$el: &;
		@extend %position--relative;
		height: var(--slider__thumb-size);

		&__input {
			-webkit-appearance: none;
			width: 100%;
			background: transparent;
			@extend %position--absolute;
			@include mixins.chain(top, left, 0);

			$margin: calc(((var(--slider__thumb-size) - var(--slider__track-height)) / 2) * -1) 0 0 0;
			@include mixins.thumb-selector($margin) {
				@include mixins.thumb-styling(var(--slider__thumb-background), var(--slider__thumb-size));
			}

			@include mixins.track-selector() {
				@include mixins.track-styling(var(--slider__track-height), var(--slider__track-background));
			}

			&::-ms-tooltip {
				@extend %display--none;
			}

			&:disabled {
				--slider__thumb-background: #{rgba(colors.$black, .38)};
				--slider__track-background: #{rgba(colors.$black, .12)};

				@include mixins.thumb-selector($margin) {
					--slider__thumb-size: #{functions.rem-calc(12px)};
					border: functions.rem-calc(2px) solid colors.$white;
				}
			}
		}

		&--disabled {
			#{$el}__track-before {
				--slider__thumb-background: #{rgba(colors.$black, .38)};
			}

			#{$el}__label {
				@extend %display--none;
			}
		}

		&__track-before {
			@extend %position--absolute;
			@include mixins.chain(height, top, left, var(--slider__track-height));
			background: var(--slider__thumb-background);
			width: 50%;
			pointer-events: none;
			z-index: 1;
		}

		&__label {
			background: var(--slider__thumb-background);
			color: colors.$white;
			border-radius: 50%;
			text-align: center;
			@include mixins.chain(width, height, line-height, var(--slider__label-size));
			@extend %position--absolute;
			top: calc((var(--slider__label-size) + var(--slider__thumb-size)) * -1);
			font-size: functions.rem-calc(12px);
			user-select: none;
		}
	}
}

