@use '../helpers/functions';
@use '../helpers/mixins';
@use '../foundation/settings';
@use '../grid/media-queries';
@use '../foundation/typography';
@use '../foundation/shadows';
@use '../properties/display';

@if (functions.in-array(snackbar, settings.$component-settings)) {
	.snackbar {
		--snackbar-width: #{settings.$snackbar-width};
		--snackbar-min-height: #{settings.$snackbar-min-height};
		--snackbar-background: #{settings.$snackbar-background};
		--snackbar-border-radius: #{settings.$snackbar-border-radius};

		--snackbar__content-color: #{settings.$snackbar__content-color};
		--snackbar__content-padding: #{settings.$snackbar__content-padding};

		--snackbar__actions-padding: #{settings.$snackbar__actions-padding};

		@if (functions.in-array(two, settings.$snackbar-settings)) {
			--snackbar--two-line-min-height: #{settings.$snackbar--two-line-min-height};
			--snackbar--two-line__actions-padding: #{settings.$snackbar--two-line__actions-padding};
			--snackbar--two-line--long-action__content-padding: #{settings.$snackbar--two-line--long-action__content-padding};
			--snackbar--two-line--long-action__actions-padding: #{settings.$snackbar--two-line--long-action__actions-padding};
		}

		$el: &;
		background: var(--snackbar-background);
		border-radius: var(--snackbar-border-radius);
		width: var(--snackbar-width);
		min-height: var(--snackbar-min-height);
		@extend %z6;

		&--single-line, &--two-line {
			@extend %display--grid;
			grid-template-columns: 1fr auto;

			#{$el}__content {
				grid-column-start: 1;
			}

			#{$el}__actions {
				grid-column-start: 2;
			}
		}

		@if (functions.in-array(two, settings.$snackbar-settings)) {
			&--two-line {
				min-height: var(--snackbar--two-line-min-height);

				#{$el}__actions {
					padding: var(--snackbar--two-line__actions-padding);
				}

				&--long-action {
					grid-template-rows: auto auto;
					grid-template-columns: unset;

					#{$el}__content {
						grid-row-start: 1;
						padding: var(--snackbar--two-line--long-action__content-padding);
						width: 100%;
					}

					#{$el}__actions {
						grid-row-start: 2;
						width: 100%;
						padding: var(--snackbar--two-line--long-action__actions-padding);
					}
				}
			}
		}

		&__content {
			@extend %body-2;
			color: var(--snackbar__content-color);
			padding: var(--snackbar__content-padding);
		}

		&__actions {
			padding: var(--snackbar__actions-padding);
		}
	}

	@include mixins.dark-theme(snackbar) {
		--snackbar-background: #{settings.$snackbar--dark-background};
		@include mixins.overlay(6);
	}

	@include mixins.light-theme(snackbar) {
		--snackbar-background: #{settings.$snackbar--light-background};
	}
}
