@use '../helpers/functions';
@use '../foundation/settings';
@use '../colors/colors';

@if(functions.in-array(tab, settings.$component-settings)) {
	.tabs {
		--tabs-background: var(--primary-color);

		--tabs__tab-min-width: #{functions.rem-calc(90px)};
		--tabs__tab-max-width: #{functions.rem-calc(360px)};
		--tabs__tab-color: #{colors.$white};
		--tabs__tab--hover-background: #{rgba(colors.$white, .08)};
		--tabs__tab--active-background: #{rgba(colors.$white, .32)};

		$el: &;
		@extend %display--grid;
		grid-auto-columns: max-content;
		background: var(--tabs-background);
		width: 100%;
		grid-auto-flow: column;

		&__content, .icon {
			@extend %display--block;
			width: 100%;
			color: rgba(colors.$white, .60);
		}

		&__tab {
			@extend %display--block;
			text-align: center;
			transition: border-bottom .1s settings.$easing-standard;
			@extend %position--relative;
			min-width: var(--tabs__tab-min-width);
			max-width: var(--tabs__tab-max-width);
			@include ripple();
			--ripple--hover-background: var(--tabs__tab--hover-background);
			--ripple--active-background: var(--tabs__tab--active-background);

			&--active {
				border-bottom: functions.rem-calc(2px) solid colors.$white;

				#{$el}__content, .icon {
					color: colors.$white;
				}
			}
		}

		&__content {
			@extend %button;
		}

		@if(functions.in-array(text, settings.$tab-settings)) {
			&--text-only #{$el}__content {
				line-height: functions.rem-calc(48px);
				padding: 0 functions.rem-calc(16px);
			}
		}

		@if(functions.in-array(icon, settings.$tab-settings)) {
			&--icon-only #{$el}__icon {
				padding: functions.rem-calc(12px) functions.rem-calc(16px) functions.rem-calc(12px) functions.rem-calc(16px);
			}
		}

		@if(functions.in-array(icon-text, settings.$tab-settings)) {
			&--icon-text {
				#{$el}__tab {
					min-height: functions.rem-calc(72px);
				}

				#{$el}__icon {
					padding: functions.rem-calc(12px) functions.rem-calc(16px) functions.rem-calc(8px) functions.rem-calc(16px);
				}

				#{$el}__content {
					padding: 0 functions.rem-calc(16px) functions.rem-calc(8px) functions.rem-calc(16px);
				}
			}
		}

		@if(functions.in-array(text, settings.$tab-settings) or functions.in-array(icon, settings.$tab-settings)) {
			&--text-only, &--icon-only {
				min-height: functions.rem-calc(48px);
			}
		}

		@if(functions.in-array(scroll, settings.$tab-settings)) {
			&--scrollable {
				overflow-x: auto;

				#{$el}__tab {
					&:first-child {
						margin-left: functions.rem-calc(52px);
					}
				}
			}
		}
	}
}
