.tabs {
	--tabs-background: var(--primary-color);

	--tabs__tab-min-width: #{rem-calc(90px)};
	--tabs__tab-max-width: #{rem-calc(360px)};
	--tabs__tab-color: #{$white};
	--tabs__tab--hover-background: #{rgba($white, .08)};
	--tabs__tab--active-background: #{rgba($white, .32)};

    $el: &;
    display: grid;
    grid-auto-columns: max-content;
    background: var(--tabs-background);
    width: 100%;
    grid-auto-flow: column;

	&__content, .icon {
		display: block;
		width: 100%;
		color: #{$white}99;
	}

    &__tab {
        display: block;
        text-align: center;
        transition: border-bottom .1s $easing-standard;
        position: relative;
        min-width: var(--tabs__tab-min-width);
        max-width: var(--tabs__tab-max-width);
        @extend %ripple;
        --ripple--hover-background: var(--tabs__tab--hover-background);
        --ripple--active-background: var(--tabs__tab--active-background);

        &--active {
            border-bottom: rem-calc(2px) solid $white;

            #{$el}__content, .icon {
                color: $white;
            }
        }
    }

    &__content {
        @extend %button;
    }

    &--text-only #{$el}__content {
        line-height: rem-calc(48px);
        padding: 0 rem-calc(16px);
    }

    &--icon-only #{$el}__icon {
        padding: rem-calc(12px) rem-calc(16px) rem-calc(12px) rem-calc(16px);
    }

    &--icon-text {
        #{$el}__tab {
            min-height: rem-calc(72px);
        }

        #{$el}__icon {
            padding: rem-calc(12px) rem-calc(16px) rem-calc(8px) rem-calc(16px);
        }

        #{$el}__content {
            padding: 0 rem-calc(16px) rem-calc(8px) rem-calc(16px);
        }
    }

    &--text-only, &--icon-only {
        min-height: rem-calc(48px);
    }

    &--scrollable {
        overflow: auto;

        #{$el}__tab{
            &:first-child {
                margin-left: rem-calc(52px);
            }
        }
    }
}