@if(in-array(tooltip, $component-settings)) {
	.tooltip {
		--tooltip-height: #{$tooltip-height};
		--tooltip-padding: #{$tooltip-padding};
		--tooltip-font-size: #{$tooltip-font-size};
		--tooltip-distance: #{$tooltip-distance};
		--tooltip-color: #{$tooltip-color};
		--tooltip-background-color: #{$tooltip-background-color};

		@media #{$md-up} {
			--tooltip-height: #{$tooltip-md-up-height};
			--tooltip-padding: #{$tooltip-md-up-padding};
			--tooltip-font-size: #{$tooltip-md-up-font-size};
		}

		$el: &;
		@extend %position--relative;
		@extend %display--inline-block;

		&__content {
			@extend %position--absolute;
			top: calc(50% - (var(--tooltip-height) / 2));
			left: calc(50% - (var(--tooltip-width) / 2));
			padding: var(--tooltip-padding);
			@include chain(height, line-height, var(--tooltip-height));
			border-radius: var(--border-radius);
			background: var(--tooltip-background-color);
			font-size: var(--tooltip-font-size);
			color: var(--tooltip-color);
			transition: all 150ms $easing-decelerate;
			z-index: 1;
			opacity: 0;
		}

		&:hover {
			#{$el}__content {
				opacity: 1;
				transition: all 75ms $easing-decelerate;
			}

			#{$el}--left {
				left: calc(-1 * (var(--tooltip-width) + var(--tooltip-distance)));
			}

			#{$el}--top {
				top: calc(-1 * (var(--tooltip-height) + var(--tooltip-distance)));
			}

			#{$el}--bottom {
				top: calc(100% + var(--tooltip-distance));
			}

			#{$el}--right {
				left: calc(100% + var(--tooltip-distance));
			}
		}
	}
}
